<div class="static-pro-row">	
<h2 class="title_creative"> The Anatomy of Personalization</h2>

<div class="v-center creativity">
<div class="col-md-5 col-sm-6 col-xs-12 power-style index_block left_side pr-75">
      <h2>Your Creativity Enhanced by Our Technology</h2>
      <p>Our patent-pending technology is an invisible hand helping you select the best flowers and details to craft your custom arrangement. Anyone from novice to expert can create a flawless design. </p>
  	<h4>You can also start by selecting a design from a member of our community and personalizing it as much or as little as you desire.</h4>
  	</div>

<div class="col-md-7 col-sm-6 col-xs-12 index_view style_view right_side ">
  <span>
      <img src="//cdn.shopify.com/s/files/1/0011/5104/1588/files/autumn-bloom-blossom-226145_e1362dad-61f1-4c6f-bbce-77c20078c875.png?v=1553583623">
  </span>
    </div>
</div>

  <div class="v-center creativity person_msg">
    
    <div class="col-md-5 col-sm-6 col-xs-12 community-text index_block right_side pl-75">
      <h2>Personalize Your Flowers and Messaging</h2>
      <p>Along with your arrangement, we work with you to customize a handwritten letter for your loved one. You can even share the specific meanings of each flower within the arrangement. </p>
    </div>
    <div class="col-md-7 col-sm-6 col-xs-12 community_visual style_view left_side">
      <span>
      <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/garden_3.png?5845">
      </span>
  	</div> 
  </div>

<div class="v-center creativity">
<div class="col-md-5 col-sm-6 col-xs-12 power-style index_block left_side pr-75">
      <h2>Send a Full Floral Experience, Satisfaction Guaranteed</h2>
      <p>With Floracracy you are sending a layered experience that brings the fragrances and the feelings of the great gardens of the world to your loved one’s door. </p>
  	</div>

<div class="col-md-7 col-sm-6 col-xs-12 index_view style_view right_side ">
  <span>
      <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/thomas-ae-602202-unsplash_1.png?5845">
  </span>
    </div>
</div>


<div class="v-center creativity anatomy_block">
<div class="col-md-5 col-sm-6 col-xs-12 power-style index_block left_side pr-75">
      <h2>Our Gated Box</h2>
     <p>Designed to surprise as each compartment is unlocked. Send a box to discover what’s inside! </p>
  	</div>

<div class="col-md-7 col-sm-6 col-xs-12 index_view style_view right_side ">
  <span>
         <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/alisa-anton-60529-unsplash.png?5845">
  </span>
    </div>
</div>

<div class="v-center creativity anatomy_block">
<div class="col-md-5 col-sm-6 col-xs-12 power-style index_block left_side pr-75">
      <h2>Vases by Style</h2>
     <p>Exquisite vases uniquely selected to coordinate with your arrangement style. </p>
  	</div>

<div class="col-md-7 col-sm-6 col-xs-12 index_view style_view right_side ">
  <span>
        <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/annie-spratt-65068-unsplash.png?5845">
  </span>
    </div>
</div>

<div class="v-center creativity anatomy_block">
<div class="col-md-5 col-sm-6 col-xs-12 power-style index_block left_side pr-75">
      <h2>Seamless and Satisfied</h2>
      <p>All arrangements are crafted in our Midwest-based warehouse and sent via a flexible delivery schedule. If you are not 100% satisfied, get your money back.</p>
  	</div>

<div class="col-md-7 col-sm-6 col-xs-12 index_view style_view right_side ">
  <span>
         <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/brigitte-tohm-210081-unsplash.png?5845">
  </span>
    </div>
</div>
</div>