<div class="container-fluid old_world_intro">	
        <div class="left_logo_category_compass">
<!--              <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-bohemian.png?13772100298693560753" usemap="#MapBohemian" border="0"> -->
          
       
        </div>
        
      <div class="old_world">
	<!-- <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Compass_270_Bohemian.svg?392143218239433044"/>	-->
<!--         <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-bohemian.png?13772100298693560753" usemap="#MapBohemian" border="0"> -->
        
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
				<img class="commontLeftTitle BohemianLeftTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Bohemian_Text_Mask_2x_fd4aa7e5-4833-442a-870a-50b2c095637b.png?18418626643815298155"/>		
			</div>
		</div>
		<div class="col-md-11 no-padding">
			<div class="Bohemian_banner_section">
				<div class="sub_gallery_img">
                  <div class="traditional_style">
                    <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/bohimaian_icon_white.png?12904337978464080522" width="45"/>
                    <h1><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Bohemian_2x_84676168-9d84-4318-bb71-7f3810509403.png?7212626809996955647" width="285"></h1>
                    <h4><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Modern_2x_122d7392-82f9-46f3-b255-a68f464e7f85.png?7212626809996955647"><br>
                      <img class="collection_style_line" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Bohemian_Line_Flourish.svg?5492183152008772804"></h4>
                  </div>
				</div>
				<div class="gallery_sub_content">
                  <p>{{ section.settings.bohemian_short_des }}</p>
                  <div>
				<a href="#" class="link_style1">Create a Bohemian Arrangement (Coming Soon)</a> 
				</div>
                  
				<div class="beta_content"> 
				<a href="/collections/bohemian">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"> </a>
				</div>
				
				
				</div>
				<div class="link_top_scroll">
				
				<p>Learn more about the Bohemian style</p>
                  <a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/scroll-down-arrow.png?17979509584517141833"></a>
				</div>
			</div>
			</div>
		</div>
      </div>

{% schema %}
  {
    "name": "Bohemian style content",
    "settings": [      
      {
        "id": "bohemian_short_des",
        "type": "richtext",
        "label": "Bohemian Short description",
		"default": "<p>Add your text here</p>"
      }  

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
