<div id="rustic_compass_svg_sec" style="width: 270px;height: 270px;">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 460 460" style="enable-background:new 0 0 460 460;" xml:space="preserve">
<style type="text/css">
	#rustic_compass_svg_sec .st0{fill:#CDBDA4;}
	#rustic_compass_svg_sec .st1{fill:#FFFFFF;}
	#rustic_compass_svg_sec .st2{fill:#3D3D3D;}
	#rustic_compass_svg_sec #PLAYFUL #Needle1 {fill-opacity: 1 !important;}
	#rustic_compass_svg_sec #PLAYFUL path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #PLAYFUL .st1 {fill: #3d3d3d !important;}
	
	#rustic_compass_svg_sec #Mordern:hover #Needle2 {fill-opacity: .9 !important;}
	#rustic_compass_svg_sec #Mordern:hover path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #Mordern:hover .st1 {fill: #3d3d3d!important;}
	
	#rustic_compass_svg_sec #Structured:hover #Needle3 {fill-opacity: .9 !important;}
	#rustic_compass_svg_sec #Structured:hover path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #Structured:hover .st1 {fill: #3d3d3d!important;}
	
	#rustic_compass_svg_sec #Romantic:hover #Needle4 {fill-opacity: .9 !important;}
	#rustic_compass_svg_sec #Romantic:hover path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #Romantic:hover .st1 {fill: #3d3d3d!important;}
	
	#rustic_compass_svg_sec #Traditional:hover #Needle5 {fill-opacity: .9 !important;}
	#rustic_compass_svg_sec #Traditional:hover path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #Traditional:hover .st1 {fill: #3d3d3d!important;}
	
	#rustic_compass_svg_sec #Natural:hover #Needle6 {fill-opacity: .9 !important;}
	#rustic_compass_svg_sec #Natural:hover path.st0 {fill:#3d3d3d !important;}
	#rustic_compass_svg_sec #Natural:hover .st1 {fill: #3d3d3d!important;}
</style>
<g id="Layer_1">
	<image style="overflow:visible;" width="460" height="460" xlink:href="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/bg-1.png?10372120638100948558" >
	</image>
</g>

<a xlink:href="#Rustic">
<g id="PLAYFUL">
	<g id="text1_1_">
		<g>
			<path class="st0" d="M194.9,65.3c2.7,2.7,4,4,6.5,6.8c-0.4-3-0.6-4.5-1-7.5c1-0.1,1.5-0.2,2.5-0.3c0.5,4.7,0.8,7.1,1.4,11.8
				c-0.9,0.1-1.3,0.2-2.2,0.3c-2.5-2.7-3.8-4.1-6.4-6.8c0.4,3,0.7,4.5,1.1,7.5c-0.9,0.1-1.4,0.2-2.4,0.4c-0.7-4.7-1.1-7-1.9-11.7
				C193.5,65.5,194,65.5,194.9,65.3z"/>
			<path class="st0" d="M213.8,72.8c-2,0.2-3.1,0.2-5.1,0.4c-0.3,0.9-0.4,1.4-0.6,2.4c-1,0.1-1.5,0.2-2.5,0.3
				c1.4-4.9,2.1-7.4,3.7-12.3c1.1-0.1,1.6-0.1,2.7-0.2c2.3,4.6,3.5,6.9,5.6,11.5c-1.1,0.1-1.6,0.1-2.6,0.2
				C214.4,74.1,214.2,73.7,213.8,72.8z M212.8,70.7c-0.8-1.8-1.3-2.7-2.1-4.4c-0.6,1.9-0.8,2.8-1.4,4.7
				C210.7,70.9,211.4,70.8,212.8,70.7z"/>
			<path class="st0" d="M225.3,62.7c0,0.9,0,1.4,0.1,2.3c-1.4,0-2.1,0.1-3.5,0.1c0.2,3.8,0.2,5.7,0.4,9.6c-1,0-1.5,0.1-2.5,0.1
				c-0.2-3.8-0.3-5.7-0.5-9.6c-1.4,0.1-2.1,0.1-3.5,0.2c-0.1-0.9-0.1-1.4-0.1-2.3C219.5,62.9,221.4,62.8,225.3,62.7z"/>
			<path class="st0" d="M231.7,72.2c1.5,0,2.5-1,2.5-2.7c0-2.8,0-4.1,0.1-6.9c1,0,1.6,0,2.6,0c-0.1,2.8-0.1,4.1-0.1,6.9
				c-0.1,3.1-2,5-5,5c-3,0-5-1.9-5.1-5c-0.1-2.8-0.1-4.1-0.1-6.9c1,0,1.6,0,2.6,0c0,2.8,0,4.1,0.1,6.9
				C229.2,71.2,230.2,72.2,231.7,72.2z"/>
			<path class="st0" d="M245.6,74.8c-0.6-1.4-0.9-2.1-1.6-3.5c-0.1,0-0.1,0-0.2,0c-0.9,0-1.4-0.1-2.3-0.1c-0.1,1.4-0.1,2-0.1,3.4
				c-1,0-1.5-0.1-2.5-0.1c0.1-4.7,0.2-7.1,0.3-11.8c2,0.1,3,0.1,5,0.2c3,0.1,4.6,1.8,4.4,4.4c-0.1,1.8-1,3.1-2.3,3.7
				c0.9,1.6,1.3,2.4,2.1,4C247.3,74.9,246.7,74.9,245.6,74.8z M241.6,69c0.9,0,1.4,0.1,2.3,0.1c1.4,0.1,2.2-0.6,2.3-1.9
				c0.1-1.3-0.7-2-2.1-2.1c-1,0-1.4-0.1-2.4-0.1C241.6,66.6,241.6,67.4,241.6,69z"/>
			<path class="st0" d="M257.7,73.5c-2-0.2-3.1-0.3-5.1-0.5c-0.4,0.9-0.6,1.3-1.1,2.2c-1-0.1-1.5-0.1-2.6-0.2
				c2.2-4.6,3.4-6.9,5.8-11.4c1.1,0.1,1.6,0.2,2.7,0.3c1.5,4.9,2.2,7.4,3.5,12.3c-1.1-0.1-1.6-0.2-2.6-0.3
				C258.1,75,257.9,74.5,257.7,73.5z M257.1,71.3c-0.5-1.9-0.8-2.9-1.3-4.8c-0.9,1.8-1.3,2.6-2.2,4.4
				C255,71.1,255.7,71.2,257.1,71.3z"/>
			<path class="st0" d="M266.2,65c-0.5,3.8-0.8,5.6-1.3,9.4c1.9,0.3,2.8,0.4,4.7,0.7c-0.1,0.9-0.2,1.4-0.4,2.3
				c-2.8-0.5-4.3-0.7-7.1-1c0.6-4.7,0.9-7,1.5-11.7C264.6,64.8,265.1,64.8,266.2,65z"/>
		</g>
	</g>
	<g id="text1">
		<g>
			<g>
				<path class="st1" d="M210.1,30.6c-0.9,1.3-1.9,1.9-3.5,2.1c-2,0.3-3.5-0.2-4.3-2.4c-0.4-1.1-0.6-1.6-0.9-2.7
					c-0.8-2.2-1.5-3.8-3.4-3.5c-0.8,0.1-1.1,0.2-1.9,0.3c0.5,2.5,0.7,3.8,1.2,6.3c0.4,2,0.8,2.2,2.5,2c0,0.2,0.1,0.3,0.1,0.6
					c-1,0.1-2.7,0.4-4.2,0.7c-1.8,0.4-3.4,0.7-4.4,1c0-0.2-0.1-0.3-0.1-0.5c1.7-0.5,2-0.8,1.6-2.8c-1.1-5.4-1.7-8.2-2.9-13.6
					c-0.4-2-0.8-2.2-2.8-1.9c0-0.2-0.1-0.3-0.1-0.5c1-0.2,3-0.6,4.7-0.9c2-0.4,4.1-0.8,4.8-1c5.8-1,8.8,0.5,9.2,3.5
					c0.3,2.3-0.9,4.9-5.9,6.3c0,0,0,0,0,0c3.6-0.3,5.3,0.6,6.1,2.8c0.4,1.1,0.6,1.7,1,2.8c0.5,1.4,0.9,1.9,1.6,1.8
					c0.5-0.1,0.8-0.3,1.1-0.8C209.8,30.4,209.9,30.5,210.1,30.6z M194.7,17.1c0.5,2.7,0.8,4.1,1.3,6.8c0.5-0.1,0.8-0.1,1.3-0.2
					c3.5-0.6,3.9-2.8,3.5-5.3c-0.5-2.9-1.7-4.4-4.5-4C194.6,14.7,194.4,15.2,194.7,17.1z"/>
				<path class="st1" d="M224.2,27.7c0.1,1.7,0.5,2.4,1.9,2.4c0,0.2,0,0.4,0,0.6c-0.6,0-1.2,0-1.8,0c-1.6,0.1-2.9,0.2-4.1,0.6
					c-0.1-1-0.1-1.5-0.2-2.5c-0.8,1.9-2.4,2.8-4.4,2.9c-1.6,0.1-2.5-0.2-3.2-0.8c-0.7-0.6-1-1.7-1.2-3.5c-0.3-2.8-0.5-4.2-0.8-7.1
					c-0.2-1.7-0.7-2.4-2.2-2.2c0-0.2,0-0.4-0.1-0.6c0.6,0,1.3-0.1,1.9-0.1c1.7-0.2,3.1-0.4,4.4-0.8c0.4,4.6,0.6,6.9,1,11.6
					c0.1,1.4,0.5,2.3,1.9,2.2c1.5-0.1,2.7-1.6,2.6-3.4c-0.2-2.9-0.3-4.4-0.4-7.3c-0.1-1.7-0.6-2.4-2.1-2.3c0-0.2,0-0.4,0-0.6
					c0.6,0,1.3,0,1.9,0c1.7-0.1,3.2-0.3,4.4-0.6C224,20.6,224.1,23,224.2,27.7z"/>
				<path class="st1" d="M236.7,16.6c0.2,0.1,0.4,0.2,0.5,0.2c0.4,0,0.6-0.3,0.7-1c0.3,0,0.4,0,0.7,0c-0.1,1.1-0.2,2.4-0.3,4.9
					c-0.2,0-0.4,0-0.6,0c-0.2-2.1-1.2-4.4-3.8-4.4c-1.2,0-2.1,0.6-2.1,1.8c0,1.7,1.8,2.6,3.6,3.9c1.9,1.4,3.4,2.7,3.3,4.9
					c-0.1,2.6-2.6,4-5.5,4c-1.1,0-2-0.3-2.6-0.6c-0.5-0.3-0.9-0.5-1.3-0.6c0,0-0.1,0-0.1,0c-0.3,0-0.5,0.4-0.7,1c-0.2,0-0.4,0-0.6,0
					c0.1-1.2,0.1-2.8,0-5.6c0.2,0,0.4,0,0.6,0c0.4,3,1.5,5.1,3.9,5.1c1,0,2-0.5,2-2c0-1.6-1.2-2.6-2.9-3.8c-1.9-1.4-3.7-2.7-3.7-4.9
					c0-2.5,2.4-3.9,5.2-3.9C234.8,15.7,236.1,16.3,236.7,16.6z"/>
				<path class="st1" d="M250.9,17.1c0,0.2,0,0.3-0.1,0.6c-1.4-0.1-2.1-0.2-3.6-0.3c-0.4,4.5-0.5,6.8-0.9,11.3
					c-0.1,1.1,0.3,1.6,1.1,1.7c0.7,0.1,1.4-0.3,2.1-1.5c0.2,0.1,0.3,0.2,0.4,0.3c-0.8,1.6-2.1,2.7-4.1,2.5c-1.3-0.1-2.2-0.5-2.8-1.1
					c-0.8-0.9-0.9-2-0.8-4c0.2-3.8,0.3-5.7,0.5-9.4c-1-0.1-1.5-0.1-2.5-0.1c0-0.2,0-0.3,0-0.6c1,0,1.5,0.1,2.6,0.1
					c0.1-1.5,0.1-2.2,0.2-3.7c1.7,0.1,3.2-0.1,4.5-0.6c-0.1,1.8-0.2,2.8-0.4,4.6C248.7,16.9,249.5,16.9,250.9,17.1z"/>
				<path class="st1" d="M256.5,29.7c-0.2,1.5,0.2,2.1,1.5,2.2c0,0.2-0.1,0.3-0.1,0.6c-0.7-0.1-2.3-0.4-3.7-0.6
					c-1.5-0.2-3.2-0.3-3.9-0.3c0-0.2,0-0.4,0.1-0.6c1.3,0.1,1.9-0.3,2-1.8c0.4-3.5,0.6-5.3,1-8.8c0.2-1.7-0.2-2.5-1.7-2.7
					c0-0.2,0-0.4,0.1-0.6c0.6,0.1,1.3,0.2,1.9,0.3c1.7,0.2,3.2,0.3,4.5,0.2C257.5,22.4,257.2,24.8,256.5,29.7z M259.2,12.9
					c-0.2,1.3-1.4,2-3.1,1.8c-1.7-0.2-2.7-1.1-2.6-2.5c0.1-1.3,1.3-2,3.1-1.8C258.4,10.6,259.4,11.6,259.2,12.9z"/>
				<path class="st1" d="M272.8,20.9c0.9,0.8,1.3,1.8,1.1,2.9c-0.3,1.3-1.5,2-2.8,1.7c-1.4-0.3-2.1-1.3-1.8-2.5
					c0.2-1.2,1.3-1.8,2.4-1.9c-0.2-0.4-0.9-0.9-1.7-1c-2.5-0.5-4.3,2.1-5,5.8c-0.8,4.3,0.9,5.9,2.7,6.3c1,0.2,2.6,0.1,4.2-1.5
					c0.2,0.1,0.3,0.2,0.5,0.3c-1.1,1.9-3.3,3.8-6.5,3.2c-3.6-0.7-6.1-3.4-5.3-8.6c0.8-5,4.4-7.1,8.6-6.3
					C270.8,19.6,272.1,20.3,272.8,20.9z"/>
			</g>
		</g>
	</g>
	<polygon id="Needle1" style="fill-opacity:0" class="st2" points="230,228 243,202 230,85 220,203 	"/>
	<polygon id="dummy1" style="fill-opacity:0" class="st2" points="235,221 350,35 315,18 284,8 251,3 206,3 150,16 116,31 224,218 230,229 	"/>
</g>
</a>

<a xlink:href="#Whimsical">
<g id="Mordern">
	<g id="text2_1_">
		<g>
			<path class="st0" d="M357.4,122.9c-2.7,1.3-5.2,0.7-7-1.7c-0.6-0.7-0.8-1.1-1.4-1.8c-1.3,0.7-2,1-3.3,1.6c-0.6-0.8-1-1.2-1.6-2.1
				c4.6-2.3,6.9-3.5,11.6-5.7c1.2,1.6,1.8,2.4,2.9,4C360.5,119.6,360,121.7,357.4,122.9z M355.9,120.9c1.3-0.6,1.4-1.6,0.6-2.8
				c-0.5-0.7-0.8-1-1.3-1.7c-1.6,0.8-2.4,1.1-3.9,1.9c0.5,0.7,0.8,1,1.3,1.7C353.4,121.2,354.6,121.6,355.9,120.9z"/>
			<path class="st0" d="M363.9,124.5c-3.7,1.7-5.5,2.6-9.2,4.4c1.2,1.6,1.7,2.4,2.9,4c-0.9,0.4-1.3,0.7-2.2,1.1
				c-1.7-2.4-2.6-3.6-4.4-6.1c4.5-2.3,6.8-3.4,11.4-5.5C363,123.2,363.3,123.6,363.9,124.5z"/>
			<path class="st0" d="M362.8,140.4c-1.2-1.7-1.8-2.6-3-4.3c-1.1,0.1-1.6,0.2-2.7,0.3c-0.6-0.9-0.9-1.3-1.5-2.2
				c5.6-0.6,8.5-0.9,14.1-1.3c0.6,0.9,0.9,1.3,1.5,2.2c-3.5,3.7-5.2,5.6-8.5,9.3c-0.6-0.9-0.9-1.4-1.5-2.3
				C361.8,141.4,362.2,141.1,362.8,140.4z M364.4,138.7c1.3-1.4,2-2.1,3.4-3.5c-2.2,0.2-3.2,0.3-5.4,0.6
				C363.2,136.9,363.6,137.5,364.4,138.7z"/>
			<path class="st0" d="M369.5,147.5c-1.4,0.7-2.1,1-3.5,1.7c-0.6-0.9-0.8-1.3-1.4-2.1c1.4-0.7,2.1-1,3.5-1.7
				c2.1-2.8,3.2-4.2,5.3-7.1c0.6,0.9,0.8,1.3,1.4,2.2c-1.4,1.9-2.1,2.8-3.4,4.7c2.6,0,3.9,0.1,6.5,0.1c0.5,0.9,0.8,1.3,1.4,2.2
				C375.3,147.5,373.3,147.5,369.5,147.5z"/>
			<path class="st0" d="M384,155.6c-0.8,0.4-1.2,0.5-2.1,0.9c-1.1-1.9-1.7-2.9-2.9-4.8c-1.1,0.5-1.6,0.7-2.7,1.2
				c1.1,1.7,1.6,2.6,2.6,4.3c-0.8,0.4-1.2,0.6-2.1,0.9c-1.1-1.7-1.6-2.6-2.7-4.3c-1.7,0.8-2.5,1.2-4.1,1.9c-0.5-0.9-0.8-1.3-1.4-2.1
				c4.3-2.1,6.5-3.1,11-5.1C381.5,151.4,382.3,152.8,384,155.6z"/>
			<path class="st0" d="M378.4,165.1c0.8,1.3,2.2,1.7,3.7,1c2.5-1.1,3.8-1.7,6.3-2.8c0.5,0.9,0.7,1.3,1.2,2.2
				c-2.5,1.1-3.8,1.6-6.3,2.8c-2.8,1.3-5.5,0.4-7.1-2.2c-1.6-2.7-0.9-5.2,2-6.5c2.5-1.2,3.8-1.7,6.3-2.8c0.5,0.9,0.8,1.3,1.3,2.2
				c-2.5,1.1-3.8,1.7-6.3,2.8C378,162.4,377.6,163.8,378.4,165.1z"/>
			<path class="st0" d="M391.9,169.7c-3.5,1.5-5.2,2.2-8.6,3.8c0.9,1.7,1.4,2.5,2.3,4.2c-0.8,0.4-1.2,0.6-2.1,0.9
				c-1.4-2.5-2.1-3.8-3.6-6.3c4.2-2,6.4-2.9,10.7-4.8C391.2,168.4,391.5,168.8,391.9,169.7z"/>
			<path class="st0" d="M396,177.4c-3.4,1.4-5.1,2.2-8.5,3.7c0.9,1.7,1.3,2.5,2.2,4.2c-0.8,0.4-1.2,0.6-2,0.9
				c-1.3-2.6-2-3.8-3.4-6.4c4.2-1.9,6.3-2.9,10.6-4.7C395.4,176.1,395.6,176.6,396,177.4z"/>
		</g>
	</g>
	<g id="text2">
		<g>
			<path class="st1" d="M397.5,92.9c-0.2,0.1-0.3,0.2-0.5,0.3c-0.8-0.5-2.1-0.9-4.2-0.2c-6.4,2-9.6,3.1-15.9,5.3
				c-0.2-0.3-0.4-0.5-0.6-0.8c-0.2-0.3-0.4-0.5-0.6-0.8c3-4.3,4.5-6.5,7.3-10.9c-5,1.7-7.5,2.5-12.5,4.3c-0.2-0.2-0.4-0.5-0.6-0.8
				s-0.4-0.5-0.6-0.7c3.9-6.4,5.8-9.6,9.4-16.2c0.7-1.3,0.5-2.1,0.2-2.6c0.2-0.1,0.3-0.2,0.4-0.4c0.7,0.9,1.8,2.3,2.8,3.5
				c1,1.2,1.9,2.2,2.4,2.8c-0.2,0.1-0.3,0.2-0.4,0.4c-0.6-0.5-1.1-0.5-1.5-0.1c-0.3,0.2-0.6,0.6-0.8,1c-2.6,4.3-3.9,6.5-6.6,10.7
				c3.3-1.1,5-1.7,8.4-2.8c1-1.6,1.5-2.3,2.5-3.9c0.7-1,0.5-1.7,0.2-2.2c0.2-0.1,0.3-0.2,0.4-0.3c0.6,0.9,1.6,2.2,2.6,3.4
				c1.1,1.4,2.1,2.7,2.7,3.4c-0.2,0.1-0.3,0.2-0.4,0.3c-0.9-1-1.4-1.5-2.1-1c-0.3,0.2-0.5,0.5-0.9,1c-2.8,4.1-4.2,6.2-7,10.2
				c3.4-1.1,5.1-1.7,8.5-2.8c1.4-0.4,2.4-0.9,3-1.4c1.4-1,1.3-2.1,0.4-3.5c0.2-0.1,0.3-0.2,0.5-0.3c0.8,1.1,1.4,2.1,2.1,3.1
				C396.7,91.8,397.2,92.5,397.5,92.9z"/>
			<path class="st1" d="M394.7,102.1c2.1-0.3,3.7,0.8,4.8,2.6c0.9,1.4,1.1,2.5,0.9,3.3c-0.2,0.9-1,1.7-2.6,2.7
				c-2.5,1.6-3.8,2.4-6.4,4.1c-1.3,0.8-1.4,1.5-0.7,2.6c-0.2,0.1-0.3,0.2-0.5,0.3c-0.4-0.6-1.2-2-1.9-3.2c-0.8-1.2-1.7-2.4-2.1-3
				c0.2-0.1,0.3-0.2,0.5-0.3c0.6,0.9,1.2,1,2.5,0.2c2.9-1.9,4.4-2.9,7.3-4.8c1.2-0.8,1.8-1.6,1-2.8c-0.9-1.4-2.7-1.7-4.3-0.6
				c-2.6,1.8-3.9,2.6-6.5,4.4c-1.3,0.9-1.4,1.5-0.8,2.4c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-1.1-1.8-1.9-3c-0.8-1.2-1.9-2.5-2.3-3.1
				c0.2-0.1,0.3-0.2,0.5-0.3c0.8,1.1,1.4,1.2,2.7,0.3c5.2-3.6,7.9-5.5,13.1-9.1c1.4-1,1.8-1.8,0.9-3c0.2-0.1,0.3-0.2,0.5-0.3
				c0.3,0.5,0.7,1.1,1,1.6c1,1.4,1.9,2.5,2.8,3.4C399.5,98.9,397.9,99.9,394.7,102.1z"/>
			<path class="st1" d="M396.1,122.3c-1.3,0.8-1.5,1.4-0.8,2.6c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-1.1-2-1.8-3.3
				c-0.8-1.2-1.7-2.6-2.1-3.3c0.2-0.1,0.3-0.2,0.5-0.3c0.7,1.1,1.3,1.3,2.7,0.5c3-1.9,4.5-2.8,7.5-4.6c1.4-0.9,1.9-1.7,1.1-2.9
				c0.2-0.1,0.3-0.2,0.5-0.3c0.3,0.6,0.6,1.1,0.9,1.6c0.9,1.4,1.7,2.6,2.6,3.5C402.4,118.5,400.3,119.8,396.1,122.3z M410.8,113.9
				c-1.2,0.7-2.4,0.2-3.3-1.2c-0.9-1.4-0.7-2.7,0.4-3.5c1.1-0.7,2.4-0.2,3.3,1.2C412.1,111.8,412,113.2,410.8,113.9z"/>
			<path class="st1" d="M408.5,145c-1.4,0.7-1.6,1.3-1,2.5c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.7-0.9-2.2-1.5-3.4s-1.4-2.5-1.7-3.1
				c0.2-0.1,0.3-0.2,0.5-0.3c0.5,0.9,1,1,2.4,0.3c3.1-1.6,4.7-2.4,7.8-4c1.2-0.6,2-1.3,1.3-2.6c-0.7-1.3-2.4-1.7-3.9-1.2
				c-0.2,0.1-0.3,0.2-0.5,0.3c-2.7,1.4-4,2.1-6.7,3.5c-1.4,0.7-1.6,1.3-1,2.4c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-0.9-2-1.6-3.2
				c-0.7-1.2-1.4-2.5-1.8-3c0.2-0.1,0.3-0.2,0.5-0.3c0.5,0.9,1.1,1,2.4,0.2c3.1-1.7,4.6-2.5,7.7-4.2c1.2-0.7,1.9-1.3,1.3-2.5
				c-0.8-1.4-2.6-1.8-4.2-0.9c-2.7,1.5-4.1,2.3-6.8,3.8c-1.4,0.8-1.6,1.3-1.1,2.2c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-0.9-1.8-1.5-3
				c-0.7-1.3-1.6-2.7-2-3.3c0.2-0.1,0.3-0.2,0.5-0.3c0.7,1.1,1.3,1.3,2.6,0.6c3.1-1.8,4.6-2.7,7.6-4.4c1.5-0.8,1.9-1.6,1.2-2.9
				c0.2-0.1,0.3-0.2,0.5-0.3c0.3,0.6,0.5,1.1,0.8,1.6c0.8,1.4,1.6,2.6,2.5,3.5c-0.9,0.5-1.3,0.7-2.2,1.2c2.1-0.1,3.6,1,4.5,2.7
				c0.8,1.4,0.9,2.5,0.6,3.4c-0.2,0.5-0.5,1-1.1,1.4c2.4,0,3.8,1.3,4.7,3.1c0.7,1.5,0.8,2.5,0.5,3.4c-0.3,0.9-1.2,1.6-2.9,2.4
				C412.6,143,411.2,143.7,408.5,145z"/>
			<path class="st1" d="M424,151.1c0,0.2,0,0.4,0,0.6c0.1,0.3,0.5,0.4,1.2,0.2c0.1,0.2,0.2,0.3,0.3,0.6c-1,0.3-2.3,0.9-4.6,1.9
				c-0.1-0.2-0.1-0.3-0.2-0.6c1.8-1.1,3.5-2.9,2.4-5.2c-0.5-1-1.4-1.5-2.5-1.1c-1.5,0.7-1.6,2.7-2,4.9c-0.5,2.3-1,4.2-3,5.1
				c-2.3,1-4.8-0.6-6-3.2c-0.5-1-0.6-1.9-0.6-2.6c0-0.6,0-1,0-1.4c0,0,0-0.1,0-0.1c-0.1-0.3-0.6-0.3-1.2-0.2
				c-0.1-0.2-0.2-0.3-0.3-0.5c1.1-0.4,2.5-1.1,5.1-2.3c0.1,0.2,0.2,0.3,0.3,0.6c-2.6,1.6-4,3.5-3,5.7c0.4,0.9,1.3,1.6,2.6,1
				c1.5-0.7,1.8-2.2,2.3-4.2c0.5-2.3,0.9-4.4,2.9-5.4c2.2-1.1,4.5,0.5,5.6,2.9C424,149,424.1,150.4,424,151.1z"/>
			<path class="st1" d="M417.5,165c-1.4,0.6-1.7,1.2-1.2,2.4c-0.2,0.1-0.3,0.1-0.5,0.2c-0.2-0.7-0.8-2.2-1.3-3.5
				c-0.6-1.3-1.3-2.9-1.6-3.5c0.2-0.1,0.3-0.1,0.5-0.2c0.5,1.2,1.1,1.5,2.6,0.9c3.3-1.4,4.9-2.1,8.1-3.5c1.5-0.7,2.1-1.4,1.5-2.7
				c0.2-0.1,0.3-0.1,0.5-0.2c0.2,0.6,0.4,1.2,0.6,1.7c0.6,1.5,1.3,2.8,2,3.8C424.3,162.2,422,163.2,417.5,165z M433.3,158.9
				c-1.3,0.5-2.4-0.2-3-1.7c-0.6-1.5-0.3-2.8,0.9-3.4c1.2-0.5,2.4,0.1,3.1,1.7C434.9,157.1,434.6,158.4,433.3,158.9z"/>
			<path class="st1" d="M433.3,174.2c-0.2,1.1-0.9,2-1.9,2.4c-1.3,0.4-2.4-0.2-2.9-1.4c-0.5-1.3,0-2.4,1.2-2.8
				c1.1-0.4,2.2,0.1,2.8,1c0.3-0.4,0.3-1.2,0-1.9c-0.8-2.3-4-2.5-7.5-1.1c-4.1,1.5-4.6,3.8-4,5.5c0.4,1,1.3,2.3,3.4,2.7
				c0,0.2,0,0.3,0,0.5c-2.2,0.1-5-0.8-6.1-3.8c-1.3-3.4-0.2-7,4.7-8.9c4.7-1.9,8.3,0.1,9.8,4C433.3,171.9,433.5,173.3,433.3,174.2z"
				/>
			<path class="st1" d="M437.5,188.3c-0.6,1.1-1.6,1.6-3.4,2.2c-2.9,0.9-4.4,1.3-7.3,2.2c-0.9,0.3-1.1,0.5-1,0.9
				c0.1,0.4,0.4,0.6,0.8,0.9c-0.1,0.2-0.2,0.2-0.4,0.4c-0.9-0.6-1.5-1.4-1.9-2.8c-0.6-2,0.2-2.9,1.3-3.3c-1.8-0.4-3-1.8-3.5-3.3
				c-0.7-2-0.1-3.8,1.9-4.4c1.9-0.7,3.4,0.3,5.2,2.5c1.4,1.8,2.4,3.2,3.6,2.8c0.8-0.3,1.3-0.4,2.1-0.7c1.4-0.4,2.2-1.4,1.6-3.1
				c-0.2-0.7-0.7-1.4-1.3-1.8c0,1.1-0.5,2-1.5,2.3c-1.1,0.4-2.2-0.3-2.7-1.6c-0.4-1.2,0.2-2.3,1.4-2.7c1-0.3,1.9,0.1,2.7,0.8
				c0.9,0.8,1.7,2.1,2.3,4C438,185.6,438.1,187.1,437.5,188.3z M431.7,186.8c-0.5-0.1-1-0.6-1.9-1.3c-0.9-0.8-2.2-1.3-3.8-0.8
				c-1.5,0.5-1.8,1.4-1.5,2.4c0.2,0.7,0.7,1.2,1.7,1.5C428.4,187.8,429.5,187.5,431.7,186.8z"/>
			<path class="st1" d="M429.7,200.7c-1.5,0.4-1.8,1-1.5,2.3c-0.2,0.1-0.3,0.1-0.6,0.2c-0.2-0.7-0.5-2.3-0.9-3.7
				c-0.4-1.4-1-3-1.2-3.7c0.2-0.1,0.3-0.1,0.6-0.2c0.4,1.3,0.9,1.6,2.4,1.2c6.1-1.8,9.2-2.7,15.3-4.4c1.6-0.5,2.2-1.1,1.8-2.5
				c0.2-0.1,0.3-0.1,0.6-0.2c0.1,0.6,0.3,1.2,0.4,1.8c0.5,1.6,1,3,1.6,4.2C440.9,197.7,437.1,198.7,429.7,200.7z"/>
		</g>
	</g>
	<polygon id="Needle2" style="fill-opacity:0" class="st2" points="231,229 262,227 359,158 248,208 	"/>
	<polygon id="dummy2" style="fill-opacity:0" class="st2" points="238,230 295,230 458,228 456,196 444,153 431,122 412,94 388,65 350,36 235,222 230,230 	
		"/>
</g>
</a>

<a xlink:href="#Bohemian">
<g id="Structured">
	<g id="text3_1_">
		<g>
			<path class="st0" d="M398.5,266.5c-3.2,0.7-4.8,0.9-8,1.5c2.3,2.2,3.5,3.4,5.8,5.7c-0.4,1.2-0.6,1.8-1,3.1
				c-4.5-1.6-6.7-2.4-11.2-3.9c0.3-0.9,0.5-1.4,0.8-2.3c3,1,4.5,1.5,7.6,2.5c-2.1-2.1-3.2-3.2-5.4-5.2c0.2-0.7,0.3-1,0.5-1.7
				c3-0.4,4.5-0.7,7.4-1.3c-3.1-0.9-4.6-1.3-7.7-2.2c0.3-0.9,0.4-1.4,0.6-2.4c4.6,1.2,6.9,1.8,11.4,3
				C399,264.6,398.8,265.2,398.5,266.5z"/>
			<path class="st0" d="M384,288.8c-3.1-1.4-4.3-5-3-8.4c1.4-3.4,4.8-5.1,8-3.9c3.2,1.2,4.6,4.8,3.2,8.5
				C390.7,288.6,387.1,290.2,384,288.8z M388,279.2c-1.9-0.7-4.1,0.3-4.8,2.2c-0.8,1.9,0.1,4,2,4.9c1.9,0.8,4.1-0.1,4.9-2.1
				C390.8,282.1,390,279.9,388,279.2z"/>
			<path class="st0" d="M377.9,300.9c-3-1.7-3.9-5.1-2.2-8.5c0.9-1.8,1.3-2.7,2.2-4.5c4.3,2,6.4,3,10.7,5c-0.9,2-1.4,2.9-2.4,4.9
				C384.4,301.4,381,302.6,377.9,300.9z M379.2,298.4c1.9,1,4,0.3,5-1.6c0.4-0.9,0.7-1.3,1.1-2.2c-2.6-1.3-4-1.9-6.6-3.2
				c-0.4,0.9-0.7,1.3-1.1,2.2C376.7,295.4,377.3,297.4,379.2,298.4z"/>
			<path class="st0" d="M377.1,313.8c-0.7-0.5-1.1-0.7-1.9-1.2c1.5-2.3,2.2-3.4,3.6-5.8c-0.9-0.5-1.3-0.8-2.2-1.3
				c-1.2,2.1-1.8,3.1-3.1,5.1c-0.7-0.5-1.1-0.7-1.9-1.2c1.3-2,1.9-3,3.1-5c-0.9-0.5-1.4-0.8-2.3-1.3c-1.4,2.3-2.1,3.4-3.5,5.7
				c-0.7-0.5-1.1-0.7-1.9-1.2c2-3.1,3-4.7,4.8-7.9c4.1,2.3,6.2,3.5,10.3,5.9C380.2,308.8,379.2,310.5,377.1,313.8z"/>
			<path class="st0" d="M361.7,315.3c1.5,0.2,2.3,0.3,3.9,0.4c0.1-0.1,0.1-0.1,0.2-0.2c0.6-0.8,0.9-1.2,1.5-2.1
				c-1.1-0.8-1.7-1.2-2.8-1.9c0.6-0.9,0.9-1.3,1.5-2.2c3.9,2.6,5.9,3.9,9.9,6.6c-1.2,1.9-1.9,2.8-3.2,4.6c-1.9,2.7-4.3,3.3-6.4,1.8
				c-1.5-1.1-2-2.5-1.7-4.1c-1.9-0.1-2.8-0.1-4.7-0.3C360.6,316.8,361,316.3,361.7,315.3z M369,314.7c-0.6,0.8-0.9,1.3-1.5,2.1
				c-0.9,1.3-0.9,2.4,0.2,3.2c1.1,0.8,2.1,0.4,3-0.8c0.6-0.9,0.9-1.3,1.5-2.2C371,316,370.3,315.6,369,314.7z"/>
			<path class="st0" d="M366.3,328.6c-3.9,0-5.9,0-9.8-0.2c2.3,2,3.5,3,5.8,5c-0.7,0.8-1.1,1.2-1.8,2.1c-3.5-3.2-5.3-4.7-8.8-7.9
				c0.7-0.7,1-1.1,1.6-1.9c3.8,0.2,5.7,0.3,9.6,0.3c-2.4-1.9-3.5-2.9-5.9-4.8c0.6-0.8,1-1.2,1.6-2c3.7,2.9,5.6,4.4,9.3,7.3
				C367.3,327.4,367,327.8,366.3,328.6z"/>
		</g>
	</g>
	<g id="text3">
		<g>
			<path class="st1" d="M433.9,278.6c-2.1,5.1-4.9,6.1-7.1,5.3c-3.3-1.2-4.1-4.6-2.6-9.2c0.3-0.8,0.9-2.5,1.6-4.8
				c0.5-1.6,0.9-3.3,1.2-4.2c0.2,0.1,0.3,0.1,0.5,0.2c-0.4,1.8-0.2,2.1,1.7,2.7c5.3,1.6,8,2.4,13.3,3.9c2,0.6,2.3,0.3,2.9-1.5
				c0.2,0.1,0.3,0.1,0.5,0.2c-0.3,1-0.9,2.8-1.4,4.4c-0.6,1.9-1.1,3.8-1.4,4.6c-1.5,4.8-4.1,6.5-6.5,5.6
				C434.9,285.1,433.4,282.7,433.9,278.6C434,278.6,433.9,278.6,433.9,278.6z M441.2,277.1c-2.4-0.8-3.6-1.1-6-1.9
				c-0.2,0.5-0.2,0.7-0.4,1.2c-0.8,2.6,1,3.9,3.3,4.7c2.6,0.9,4.2,0.5,4.9-1.5C443.4,278.1,443,277.7,441.2,277.1z M428.5,279.4
				c2.7,0.9,4.7,0.1,5.8-3.2c0.1-0.5,0.2-0.7,0.4-1.2c-2.7-0.8-4.1-1.3-6.8-2.1c-1.9-0.6-2.3-0.4-2.8,1.2
				C424.2,276.8,425.5,278.4,428.5,279.4z"/>
			<path class="st1" d="M422.8,299.6c-5.1-2.1-6-5.5-4.5-9.3c1.5-3.8,4.4-5.8,9.6-3.9c5.2,1.9,6.2,5.4,4.7,9.4
				C431,299.7,427.9,301.7,422.8,299.6z M426.4,290.5c-4.7-1.8-7-1.4-7.6,0c-0.6,1.4,0.9,3.2,5.6,5.1c4.7,1.8,7,1.5,7.6,0
				C432.6,294.1,431.1,292.2,426.4,290.5z"/>
			<path class="st1" d="M424.5,308.4c1.3,1.7,1.3,3.6,0.4,5.5c-0.7,1.5-1.5,2.2-2.4,2.5c-0.9,0.3-2,0.1-3.7-0.7
				c-2.7-1.3-4.1-1.9-6.8-3.2c-1.4-0.7-2-0.4-2.6,0.8c-0.2-0.1-0.3-0.2-0.5-0.3c0.3-0.6,1.1-2.1,1.7-3.3c0.6-1.3,1.2-2.7,1.4-3.4
				c0.2,0.1,0.3,0.1,0.5,0.2c-0.5,1-0.2,1.6,1.2,2.2c3.2,1.5,4.7,2.2,7.9,3.6c1.3,0.6,2.3,0.7,2.9-0.7c0.7-1.5,0-3.2-1.8-4
				c-2.9-1.3-4.3-1.9-7.1-3.1c-1.4-0.6-2-0.4-2.5,0.6c-0.2-0.1-0.3-0.1-0.5-0.2c0.3-0.6,1-1.9,1.5-3.2c0.6-1.3,1.2-2.9,1.4-3.6
				c0.2,0.1,0.3,0.1,0.5,0.2c-0.5,1.2-0.3,1.8,1.1,2.5c5.9,2.5,8.8,3.7,14.7,6.2c1.5,0.7,2.5,0.5,3-0.8c0.2,0.1,0.3,0.1,0.5,0.2
				c-0.3,0.6-0.6,1.1-0.8,1.7c-0.7,1.6-1.1,3-1.4,4.2C429.8,310.7,428.1,310,424.5,308.4z"/>
			<path class="st1" d="M406.7,326.5c-0.2,0.1-0.2,0.2-0.4,0.4c-1.5-1.6-2.6-4.3-1.2-7.1c1.7-3.4,5.1-4.8,9.6-2.5
				c4.7,2.3,5.7,6.2,3.7,9.9c-1.6,3.1-4.2,4.1-8.1,2c1.5-2.9,2.3-4.3,3.8-7.2c-0.3-0.2-0.8-0.4-1.2-0.6c-3.5-1.8-5.7-0.8-6.5,0.8
				C405.9,323.1,405.6,324.6,406.7,326.5z M414.6,322.1c-0.8,1.6-1.2,2.4-2.1,4.1c2.4,1.3,4.8,1.9,5.4,0.6
				C418.6,325.6,417.8,324,414.6,322.1z"/>
			<path class="st1" d="M392.6,347.2c-1.3-0.8-2-0.7-2.7,0.4c-0.2-0.1-0.3-0.2-0.5-0.3c0.4-0.6,1.4-1.9,2.1-3.1
				c0.7-1.2,1.5-2.4,1.8-3c0.2,0.1,0.3,0.2,0.5,0.3c-0.5,0.8-0.3,1.4,1,2.2c2.9,1.9,4.4,2.8,7.4,4.6c1.2,0.7,2.1,1,2.9-0.2
				c0.8-1.2,0.3-2.9-1-4c-0.2-0.1-0.3-0.2-0.5-0.3c-2.6-1.6-3.9-2.4-6.4-3.9c-1.3-0.8-1.9-0.7-2.6,0.3c-0.2-0.1-0.3-0.2-0.5-0.3
				c0.4-0.6,1.3-1.9,1.9-3c0.7-1.2,1.4-2.5,1.7-3.1c0.2,0.1,0.3,0.2,0.5,0.3c-0.5,0.9-0.3,1.4,1,2.2c3,1.8,4.5,2.7,7.5,4.4
				c1.2,0.7,2.1,1,2.8-0.2c0.8-1.4,0.2-3.2-1.4-4.1c-2.7-1.6-4.1-2.3-6.8-3.9c-1.4-0.8-1.9-0.7-2.4,0.2c-0.2-0.1-0.3-0.2-0.5-0.3
				c0.3-0.5,1.1-1.7,1.7-2.8c0.7-1.3,1.5-2.8,1.8-3.4c0.2,0.1,0.3,0.2,0.5,0.3c-0.6,1.2-0.5,1.8,0.9,2.6c3.1,1.7,4.6,2.6,7.7,4.3
				c1.5,0.8,2.4,0.8,3.1-0.5c0.2,0.1,0.3,0.2,0.5,0.3c-0.3,0.5-0.7,1-1,1.6c-0.8,1.4-1.4,2.7-1.8,4c-0.9-0.5-1.3-0.8-2.2-1.3
				c1.2,1.7,1,3.6,0,5.3c-0.8,1.4-1.7,2-2.6,2.2c-0.5,0.1-1.1,0-1.8-0.2c1.3,2,0.8,3.9-0.2,5.6c-0.9,1.4-1.8,2-2.7,2.1
				c-1,0.2-2-0.2-3.5-1.2C396.4,349.7,395.1,348.9,392.6,347.2z"/>
			<path class="st1" d="M387.7,354.5c-1.3-0.9-1.9-0.7-2.7,0.3c-0.2-0.1-0.3-0.2-0.5-0.3c0.4-0.6,1.4-1.8,2.2-3
				c0.8-1.2,1.7-2.7,2.1-3.3c0.2,0.1,0.3,0.2,0.5,0.3c-0.7,1.1-0.6,1.8,0.7,2.6c2.9,2,4.4,3,7.3,4.9c1.4,0.9,2.3,1,3.1-0.2
				c0.2,0.1,0.3,0.2,0.5,0.3c-0.4,0.5-0.8,1-1.1,1.5c-0.9,1.4-1.6,2.6-2.1,3.8C393.7,358.7,391.7,357.3,387.7,354.5z M401.4,364.5
				c-1.1-0.8-1.2-2.1-0.2-3.5c0.9-1.4,2.2-1.8,3.3-1.1c1.1,0.7,1.2,2.1,0.2,3.5C403.8,364.8,402.5,365.3,401.4,364.5z"/>
			<path class="st1" d="M388.2,372.6c-1.2,0.2-2.2-0.4-3.8-1.6c-2.4-1.9-3.6-2.8-6-4.6c-0.7-0.6-1.1-0.6-1.4-0.3
				c-0.2,0.3-0.3,0.7-0.3,1.1c-0.2,0-0.3,0-0.6-0.1c0-1.1,0.3-2,1.2-3.2c1.3-1.6,2.5-1.5,3.5-0.8c-0.7-1.7-0.3-3.4,0.7-4.7
				c1.2-1.7,3-2.2,4.7-1.1c1.7,1.2,1.8,3,1,5.7c-0.6,2.2-1.2,3.8-0.2,4.6c0.7,0.5,1.1,0.8,1.8,1.3c1.2,0.9,2.4,1,3.4-0.4
				c0.4-0.6,0.8-1.4,0.7-2.1c-0.9,0.7-1.9,0.8-2.8,0.1c-0.9-0.7-1.1-1.9-0.2-3.1c0.7-1,2-1.1,3-0.4c0.8,0.6,1.1,1.6,0.9,2.7
				c-0.2,1.2-0.7,2.6-1.9,4.2C390.6,371.4,389.5,372.4,388.2,372.6z M386,366.9c-0.2-0.5-0.1-1.2,0-2.3c0.1-1.2-0.2-2.6-1.5-3.5
				c-1.2-0.9-2.2-0.7-2.8,0.2c-0.4,0.6-0.5,1.2-0.2,2.2C383.2,364.9,384.1,365.6,386,366.9z"/>
			<path class="st1" d="M376.8,386.8c-1,0-1.9-0.4-3.4-1.7c-2.3-2-3.4-3-5.7-4.9c-1.2-1-1.8-0.9-2.7,0.1c-0.2-0.2-0.3-0.2-0.4-0.4
				c0.5-0.5,1.6-1.7,2.5-2.8c0.9-1.1,1.9-2.3,2.3-2.9c0.2,0.2,0.3,0.2,0.5,0.4c-0.7,0.9-0.6,1.5,0.6,2.5c2.7,2.2,4,3.4,6.7,5.6
				c1.1,0.9,2,1.2,3,0.1c1.1-1.3,0.8-3.1-0.6-4.3c-2.4-2-3.6-3-6-4.9c-1.2-1-1.8-1-2.5-0.1c-0.2-0.1-0.3-0.2-0.5-0.4
				c0.4-0.5,1.4-1.6,2.3-2.7c0.9-1.1,1.9-2.5,2.3-3.1c0.2,0.1,0.3,0.2,0.5,0.4c-0.8,1-0.8,1.7,0.4,2.7c2.8,2.2,4.1,3.3,6.9,5.5
				c1.3,1,2.2,1.2,3.1,0.1c0.2,0.1,0.3,0.2,0.5,0.4c-0.4,0.5-0.8,0.9-1.2,1.4c-1,1.3-1.8,2.5-2.4,3.6c-0.8-0.6-1.2-1-2-1.6
				c0.9,2,0.3,3.8-1.1,5.4C378.7,386.3,377.7,386.8,376.8,386.8z"/>
		</g>
	</g>
	<polygon id="Needle3" style="fill-opacity:0" class="st2" points="231,231 250,255 358,300 260,234 	"/>
	<polygon id="dummy3" style="fill-opacity:0" class="st2" points="232,235 348,426 388,395 418,359 437,324 454,278 458,243 458,229 234,230 229,230 	"/>
</g>
</a>
  
<a xlink:href="#Exotic">
<g id="Romantic">
	<g id="text4_1_">
		<g>
			<path class="st0" d="M285.8,389.5c0.9-0.3,1.5-0.8,1.3-1.4c-0.6-2.1-6.7,0.9-7.8-3.2c-0.6-2.2,1.1-4,3.6-4.7
				c1.9-0.6,4-0.4,5.7,0.2c-0.2,1-0.2,1.4-0.4,2.4c-1.5-0.6-3.4-0.8-4.7-0.4c-1.1,0.3-1.6,0.9-1.4,1.6c0.6,2.1,6.6-1,7.9,3
				c0.7,2-0.8,4-3.7,4.8c-1.7,0.5-3.6,0.5-5,0.1c0.2-1,0.3-1.5,0.5-2.4C283.1,389.7,284.8,389.8,285.8,389.5z"/>
			<path class="st0" d="M270.2,395.6c-0.2-0.9-0.3-1.3-0.5-2.2c1.5-0.3,2.3-0.5,3.8-0.8c-0.8-3.7-1.3-5.6-2.1-9.3
				c1.1-0.2,1.6-0.4,2.7-0.6c0.9,3.7,1.3,5.6,2.2,9.3c1.5-0.4,2.2-0.6,3.7-0.9c0.2,0.9,0.3,1.3,0.6,2.2
				C276.5,394.2,274.4,394.7,270.2,395.6z"/>
			<path class="st0" d="M259.1,385.6c1,1.2,1.5,1.8,2.4,3c0.1,0,0.2,0,0.3,0c1-0.2,1.5-0.3,2.5-0.4c-0.2-1.3-0.4-2-0.6-3.3
				c1.1-0.2,1.6-0.3,2.7-0.5c0.9,4.6,1.4,7,2.3,11.6c-2.2,0.4-3.3,0.6-5.5,1c-3.3,0.6-5.4-0.7-5.8-3.3c-0.3-1.8,0.4-3.2,1.7-4.1
				c-1.3-1.4-1.9-2.1-3.1-3.5C257.3,385.9,257.9,385.8,259.1,385.6z M264.7,390.3c-1,0.2-1.5,0.3-2.5,0.4c-1.5,0.3-2.3,1.1-2.1,2.4
				c0.2,1.3,1.2,1.8,2.7,1.6c1-0.2,1.6-0.3,2.6-0.5C265.2,392.7,265,391.9,264.7,390.3z"/>
			<path class="st0" d="M249.1,389.1c-1.6,0.2-2.6,1.3-2.5,3c0.2,2.7,0.4,4.1,0.6,6.9c-1.1,0.1-1.7,0.1-2.9,0.2
				c-0.2-2.7-0.3-4.1-0.5-6.9c-0.2-3.1,1.7-5.2,5-5.5c3.3-0.3,5.7,1.3,6.1,4.4c0.4,2.7,0.5,4.1,0.9,6.8c-1.1,0.2-1.7,0.2-2.9,0.4
				c-0.3-2.7-0.5-4.1-0.8-6.8C252,389.8,250.8,389,249.1,389.1z"/>
			<path class="st0" d="M235.9,397.4c2.2-0.1,3.8-1.7,3.6-3.8c-0.1-2.1-1.8-3.6-3.9-3.5c-1.1,0-2.3,0.6-3.1,1.5
				c-0.7-0.7-1-1-1.6-1.7c1.3-1.3,3.1-2.1,4.8-2.2c3.6-0.1,6.4,2.3,6.7,5.7c0.2,3.4-2.5,6.2-6.4,6.3c-1.8,0.1-3.8-0.7-5-1.9
				c0.7-0.8,1-1.1,1.6-1.9C233.4,396.9,234.7,397.4,235.9,397.4z"/>
			<path class="st0" d="M219.8,399.5c0-0.9,0.1-1.4,0.1-2.3c1.5,0.1,2.3,0.1,3.8,0.2c0.1-3.8,0.2-5.7,0.3-9.6c1.1,0,1.6,0,2.7,0.1
				c-0.1,3.8-0.1,5.7-0.1,9.6c1.5,0,2.3,0,3.8,0c0,0.9,0,1.4,0,2.3C226.2,399.7,224.1,399.7,219.8,399.5z"/>
			<path class="st0" d="M213.6,389.4c-1.6-0.1-2.8,0.8-3,2.5c-0.3,2.7-0.4,4.1-0.7,6.8c-1.1-0.1-1.7-0.2-2.9-0.3
				c0.3-2.7,0.5-4.1,0.8-6.8c0.4-3.1,2.6-4.8,5.9-4.5c3.3,0.3,5.3,2.3,5.1,5.4c-0.2,2.7-0.2,4.1-0.4,6.9c-1.1-0.1-1.7-0.1-2.9-0.2
				c0.2-2.7,0.3-4.1,0.5-6.9C216.3,390.7,215.2,389.6,213.6,389.4z"/>
			<path class="st0" d="M198.7,385.3c0.5,1.5,0.8,2.2,1.4,3.6c0.1,0,0.2,0,0.3,0c1,0.2,1.5,0.2,2.5,0.4c0.2-1.3,0.3-2,0.5-3.3
				c1.1,0.2,1.6,0.2,2.7,0.4c-0.6,4.7-0.9,7-1.5,11.7c-2.2-0.3-3.3-0.4-5.5-0.8c-3.3-0.5-4.9-2.3-4.4-4.9c0.3-1.8,1.4-2.9,2.9-3.4
				c-0.8-1.7-1.1-2.6-1.9-4.3C196.9,385,197.5,385.1,198.7,385.3z M202.5,391.6c-1-0.1-1.5-0.2-2.6-0.4c-1.5-0.2-2.5,0.3-2.7,1.6
				c-0.2,1.3,0.6,2.1,2.1,2.3c1,0.2,1.6,0.2,2.6,0.4C202.2,394,202.3,393.2,202.5,391.6z"/>
			<path class="st0" d="M181.9,393.9c0.2-0.9,0.3-1.3,0.5-2.2c2.6,0.6,4,1,6.6,1.5c0.2-1,0.3-1.5,0.5-2.5c-2.4-0.5-3.5-0.8-5.9-1.3
				c0.2-0.9,0.3-1.3,0.5-2.2c2.3,0.6,3.5,0.8,5.8,1.3c0.2-1,0.3-1.5,0.5-2.6c-2.6-0.6-3.9-0.9-6.6-1.5c0.2-0.9,0.3-1.3,0.5-2.2
				c3.6,0.9,5.5,1.3,9.2,2c-0.9,4.6-1.4,7-2.3,11.6C187.6,395.3,185.7,394.9,181.9,393.9z"/>
			<path class="st0" d="M169.6,384.3c1.1-3.3,4.3-4.8,8-3.7c1.9,0.6,2.9,0.8,4.9,1.3c-1.2,4.6-1.8,6.9-3,11.5
				c-2.1-0.5-3.2-0.8-5.3-1.4C170.4,390.8,168.5,387.6,169.6,384.3z M172.3,385.1c-0.6,2.1,0.5,4,2.6,4.6c1,0.3,1.4,0.4,2.4,0.7
				c0.8-2.8,1.2-4.2,1.9-7.1c-1-0.3-1.4-0.4-2.4-0.7C174.9,382.1,173,383.1,172.3,385.1z"/>
		</g>
	</g>
	<g id="text4">
		<g>
			<path class="st1" d="M258.4,424.9c2.2-0.1,5.3-0.3,7.6-0.5c2.2-0.2,7.1-0.6,10.7-1.1c0,0.2,0,0.3,0.1,0.5
				c-2.1,0.3-2.4,0.6-2.2,2.6c0.6,5.4,0.9,8.1,1.4,13.5c0.2,2,0.6,2.2,2.8,2.1c0,0.2,0,0.3,0.1,0.5c-3.8,0.3-8.9,0.8-11.2,1
				c-2.1,0.2-5.1,0.4-7.2,0.6c0.1-1.6,0-3.3,0-4c-0.1-0.7-0.1-1.4-0.2-1.8c0.3,0,0.5,0,0.8-0.1c1,3.9,2.9,5.1,6,4.8
				c0.6,0,0.8-0.1,1.4-0.1c2-0.2,2.3-0.4,2.2-2.1c-0.3-2.7-0.4-4-0.6-6.7c-0.4,0-0.7,0.1-1.1,0.1c-2.7,0.2-3.5,2.4-3.7,3.9
				c-0.3,0-0.5,0-0.8,0.1c0-1.2,0-1.9-0.1-2.6c0-0.5-0.1-0.9-0.1-1.3c-0.1-0.9-0.2-1.8-0.5-3.8c0.3,0,0.5,0,0.8-0.1
				c0.5,1.9,1.7,3.5,4.4,3.3c0.4,0,0.7-0.1,1.1-0.1c-0.3-2.7-0.4-4.1-0.6-6.8c-0.2-1.7-0.5-1.9-2.5-1.7c-0.7,0.1-1,0.1-1.6,0.1
				c-2.9,0.2-4.9,1.8-5.4,6.2c-0.3,0-0.5,0-0.8,0.1c0-0.6,0-1.4-0.1-2.3C258.8,428.2,258.7,426.6,258.4,424.9z"/>
			<path class="st1" d="M241.1,427.7c-0.6-0.6-1.1-1.2-1.9-1.3c0-0.2,0-0.3,0-0.6c0.7,0,2.2,0.1,3.5,0c1.6,0,3.5-0.2,4.3-0.3
				c0,0.2,0,0.3,0,0.6c-0.7,0-1.1,0.2-1.1,0.6c0,0.1,0.1,0.2,0.2,0.4c1.4,1.6,2.2,2.5,3.7,4.1c0.4-0.5,0.7-0.8,1.1-1.3
				c0.7-0.8,1-1.6,1-2.2c-0.1-1-1-1.7-2.5-1.7c0-0.2,0-0.3,0-0.5c1.3,0,3.6-0.1,4.7-0.2c1-0.1,1.7-0.1,2.3-0.2c0,0.2,0,0.3,0,0.5
				c-1,0.4-1.8,1-2.9,2.3c-1.3,1.5-2,2.2-3.4,3.7c2.1,2.3,3.1,3.4,5.3,5.7c0.8,0.9,1.2,1.2,2,1.3c0,0.2,0,0.3,0,0.6
				c-0.8,0-2.5,0-4.1,0.1c-1.5,0.1-3.3,0.3-4,0.3c0-0.2,0-0.3,0-0.6c0.7,0,1.1-0.2,1.1-0.6c0-0.1-0.1-0.2-0.2-0.4
				c-1.4-1.5-2-2.2-3.4-3.7c-0.5,0.6-0.7,0.9-1.2,1.4c-0.7,0.8-1.1,1.6-1.1,2.1c0,0.7,0.7,1.2,2.1,1.3c0,0.2,0,0.3,0,0.5
				c-1.3,0-2.7,0-3.9,0c-1,0-1.7,0.1-2.4,0.2c0-0.2,0-0.3,0-0.5c0.9-0.3,2-1,3-2.2c1.2-1.3,1.8-2,3-3.3
				C244.3,431.4,243.2,430.2,241.1,427.7z"/>
			<path class="st1" d="M222.3,432.8c0.1-5.4,3.5-7.4,8.2-7.4c4.7,0,8.1,1.9,8.2,7.3c0.1,5.4-3.3,7.5-8.2,7.5
				C225.6,440.3,222.2,438.2,222.3,432.8z M233.7,432.9c0-4.9-1.4-6.9-3.2-6.9c-1.8,0-3.1,2-3.2,6.9c0,4.9,1.3,6.9,3.2,6.9
				C232.4,439.8,233.7,437.8,233.7,432.9z"/>
			<path class="st1" d="M209.1,439.4c0-0.2,0-0.3,0-0.5c1.6,0.1,2.4,0.1,4,0.2c0.2-4.4,0.3-6.6,0.4-11c0-1.1-0.4-1.5-1.4-1.6
				c-0.8,0-1.6,0.4-2.3,1.5c-0.2-0.1-0.3-0.2-0.5-0.3c0.8-1.6,2.2-2.7,4.6-2.6c1.5,0.1,2.6,0.4,3.3,1c0.9,0.8,1.1,1.9,1.1,3.8
				c-0.1,3.7-0.2,5.5-0.3,9.2c1.1,0,1.7,0,2.9,0.1c0,0.2,0,0.3,0,0.5c-1.1,0-1.7,0-2.9-0.1c0,1.4-0.1,2.2-0.1,3.6
				c-1.9,0-3.5,0.2-5,0.7c0.1-1.8,0.1-2.7,0.2-4.5C211.5,439.6,210.7,439.5,209.1,439.4z"/>
			<path class="st1" d="M201.7,427.5c0.1-1.5-0.4-2-2-2.1c0-0.2,0-0.3,0-0.6c0.8,0.1,2.7,0.3,4.4,0.4c1.7,0.1,3.7,0.1,4.6,0.1
				c0,0.2,0,0.3,0,0.6c-1.5-0.1-2.1,0.3-2.2,1.8c-0.2,3.4-0.3,5.2-0.5,8.6c-0.1,1.6,0.4,2.4,2,2.5c0,0.2,0,0.3,0,0.6
				c-0.7-0.1-1.4-0.2-2.1-0.2c-1.9-0.1-3.6-0.1-5,0.1C201.2,434.6,201.4,432.2,201.7,427.5z M200.2,443.9c0.1-1.3,1.4-2,3.3-1.9
				c1.9,0.1,3.1,1,3,2.3c-0.1,1.3-1.3,2-3.3,1.9C201.3,446.1,200.1,445.2,200.2,443.9z"/>
			<path class="st1" d="M184.2,437.1c-1.1-0.7-1.7-1.7-1.6-2.7c0.1-1.3,1.4-2.1,2.9-1.9c1.6,0.2,2.5,1.1,2.4,2.3
				c-0.1,1.1-1.2,1.9-2.5,2c0.3,0.4,1.1,0.8,2,0.8c2.8,0.3,4.5-2.4,4.9-6c0.4-4.2-1.7-5.7-3.9-5.9c-1.2-0.1-3,0.1-4.6,1.8
				c-0.2-0.1-0.3-0.1-0.6-0.2c1-1.9,3.3-4,7-3.6c4.3,0.4,7.5,2.9,7.1,8c-0.4,4.9-4.2,7.2-9,6.8C186.6,438.2,185.1,437.7,184.2,437.1
				z"/>
		</g>
	</g>
	<polygon id="Needle4" style="fill-opacity:0" class="st2" points="230,231 220,257 231,375 242,256 	"/>
	<polygon id="dummy4" style="fill-opacity:0" class="st2" points="229,232 118,430 153,445 200,457 233,457 284,451 334,432 347,426 231,232 230,230 	"/>
</g>
</a>

<a xlink:href="#Garden">
<g id="Traditional">
	<g id="text5">
		<g>
			<path class="st0" d="M111.6,332.3c-0.5,1.5-0.7,2.2-1.1,3.7c0.1,0.1,0.1,0.1,0.2,0.2c0.7,0.8,1.1,1.1,1.8,1.9
				c1-0.9,1.4-1.4,2.4-2.4c0.8,0.8,1.2,1.2,1.9,1.9c-3.3,3.4-5,5.1-8.3,8.5c-1.6-1.6-2.5-2.4-4-4.1c-2.4-2.5-2.5-5-0.6-6.7
				c1.4-1.2,2.9-1.5,4.4-0.8c0.4-1.8,0.7-2.7,1.2-4.6C110.3,330.9,110.7,331.3,111.6,332.3z M110.8,339.6c-0.7-0.8-1.1-1.1-1.8-1.9
				c-1.1-1.1-2.2-1.4-3.2-0.4c-1,0.9-0.8,2,0.3,3.2c0.7,0.8,1.1,1.2,1.9,2C109.1,341.3,109.7,340.7,110.8,339.6z"/>
			<path class="st0" d="M95.9,322.3c2.8-2,6.5-1.2,8.8,1.7c2.3,2.9,2.2,6.7-0.4,9c-2.6,2.3-6.6,1.6-9-1.5
				C92.8,328.2,93.1,324.3,95.9,322.3z M102.4,330.7c1.6-1.3,1.7-3.7,0.5-5.3c-1.3-1.6-3.6-2-5.2-0.8c-1.7,1.2-1.9,3.6-0.6,5.3
				C98.4,331.7,100.8,332,102.4,330.7z"/>
			<path class="st0" d="M88.1,321.4c1.6-2.9,2.4-4.3,4.1-7c-3.2,0.3-4.8,0.4-8.1,0.6c-0.7-1.1-1-1.7-1.6-2.9
				c4.1-2.3,6.2-3.5,10.3-5.8c0.5,0.9,0.7,1.3,1.2,2.1c-2.8,1.6-4.1,2.4-6.9,4c3-0.2,4.5-0.3,7.5-0.6c0.4,0.6,0.6,0.9,0.9,1.5
				c-1.6,2.5-2.4,3.8-3.9,6.5c2.7-1.8,4-2.6,6.6-4.4c0.5,0.8,0.8,1.2,1.4,2c-3.9,2.7-5.8,4-9.7,6.7C89.2,323,88.9,322.5,88.1,321.4z
				"/>
			<path class="st0" d="M85.9,297.8c0.9,2.1,1.4,3.1,2.5,5.1c1-0.1,1.5-0.1,2.5-0.2c0.5,1,0.8,1.5,1.3,2.5c-5.2,0.4-7.8,0.6-13,0.6
				c-0.5-1.1-0.8-1.6-1.3-2.7c3.3-4,5-6,8.6-9.7c0.5,1.1,0.7,1.6,1.2,2.7C87,296.7,86.6,297.1,85.9,297.8z M84.4,299.5
				c-1.3,1.5-2,2.2-3.3,3.8c2-0.1,3-0.1,5-0.2C85.4,301.6,85,300.9,84.4,299.5z"/>
			<path class="st0" d="M74,294.2c1.9-3.5,2.9-5.2,5-8.4c-2.9,1-4.3,1.5-7.2,2.5c-0.4-1.1-0.5-1.6-0.9-2.7c4.5-1.5,6.8-2.2,11.3-3.7
				c0.3,0.9,0.5,1.4,0.8,2.3c-2.1,3.2-3.1,4.9-5,8.3c2.8-1.1,4.2-1.7,7.1-2.8c0.4,1,0.6,1.4,1,2.4c-4.4,1.8-6.6,2.7-10.9,4.6
				C74.6,295.7,74.4,295.2,74,294.2z"/>
			<path class="st0" d="M67.6,273.5c0.9-0.2,1.3-0.3,2.2-0.5c0.4,1.5,0.6,2.3,1,3.8c3.7-1,5.6-1.5,9.3-2.4c0.3,1.1,0.4,1.6,0.7,2.6
				c-3.7,1.1-5.5,1.6-9.2,2.6c0.4,1.5,0.7,2.3,1.1,3.8c-0.9,0.3-1.3,0.4-2.2,0.7C69.1,279.9,68.6,277.8,67.6,273.5z"/>
			<path class="st0" d="M66.6,269.1c4.6-0.9,7-1.4,11.6-2.4c0.2,1.1,0.3,1.6,0.6,2.7c-4.6,1-6.9,1.6-11.5,2.6
				C66.9,270.8,66.8,270.2,66.6,269.1z"/>
			<path class="st0" d="M67.2,259.9c0.3,2.2,2.2,3.6,4.2,3.3c2-0.3,3.3-2.2,3-4.3c-0.2-1.1-0.8-2.2-1.8-3c0.6-0.7,0.9-1.1,1.5-1.8
				c1.4,1.2,2.5,2.9,2.7,4.7c0.5,3.6-1.5,6.8-4.9,7.4c-3.4,0.6-6.5-1.9-7-5.8c-0.3-1.9,0.3-4,1.3-5.4c0.8,0.6,1.2,0.9,2.1,1.5
				C67.5,257.3,67.1,258.7,67.2,259.9z"/>
		</g>
	</g>
	<g id="text5_1_">
		<g>
			<path class="st1" d="M63.6,363.7c0-0.3-0.1-0.5-0.2-0.7c-0.3-0.3-0.9-0.1-1.8,0.6c-0.2-0.2-0.3-0.3-0.5-0.6
				c1.1-0.9,2.6-2.2,5.1-4.5c0.2,0.2,0.3,0.3,0.5,0.5c-1.4,1.7-2.3,3.2-2,5.2c0.1,1.4,0.9,2.9,2,4c3.4,3.4,8.1,1.2,11.4-2.5
				c4.5-5,5-8.5,2.5-11c-0.7-0.6-1.3-0.9-1.8-1.1c-0.6-0.1-1.1,0-1.5,0.5c-0.8,0.8-1.2,1.2-2,1.9c-1.8,1.8-1.8,2.4,0,4.3
				c-0.2,0.2-0.2,0.2-0.4,0.4c-0.8-0.9-2.5-2.6-3.6-3.8c-1.2-1.2-2.2-2.3-2.8-2.9c0.2-0.2,0.2-0.2,0.4-0.4c0.8,0.8,1.2,0.8,2.7-0.6
				c1.6-1.5,2.5-2.3,4.1-3.8c0.2,0.2,0.2,0.3,0.4,0.4c-0.5,0.5-1,1.3-0.6,1.7c0.2,0.2,0.5,0.4,1.5,0.7c1.5,0.5,3.1,1.1,4.3,2.4
				c4.8,4.7,5.2,9.8,1.1,14.6c-4.1,4.9-10.6,4.9-15.6,0.1C64.5,367.3,63.9,365.5,63.6,363.7z"/>
			<path class="st1" d="M56,347.2c0.1-1.2,0.9-2.1,2.5-3.2c2.4-1.8,3.7-2.7,6.1-4.5c0.7-0.5,0.9-0.9,0.6-1.2c-0.2-0.3-0.6-0.5-1-0.6
				c0.1-0.2,0.1-0.3,0.2-0.5c1.1,0.3,1.9,0.9,2.8,2c1.3,1.7,0.8,2.8-0.1,3.6c1.8-0.2,3.4,0.6,4.4,1.9c1.4,1.6,1.5,3.5,0,4.8
				c-1.5,1.3-3.3,1-5.8-0.5c-2-1.2-3.5-2.3-4.5-1.5c-0.7,0.5-1,0.8-1.7,1.4c-1.1,0.9-1.5,2.1-0.4,3.6c0.5,0.6,1.2,1.2,2,1.3
				c-0.5-1.1-0.4-2.1,0.5-2.8c0.9-0.7,2.2-0.5,3.1,0.6c0.9,1,0.7,2.3-0.2,3.1c-0.8,0.7-1.9,0.6-2.9,0.2c-1.2-0.5-2.5-1.4-3.8-3.1
				C56.5,350.1,55.8,348.6,56,347.2z M62.1,346.8c0.5,0,1.2,0.2,2.2,0.6c1.2,0.4,2.6,0.5,3.8-0.6c1.2-1,1.2-2,0.5-2.8
				c-0.4-0.5-1.1-0.9-2.1-0.8C64.8,344.6,63.9,345.3,62.1,346.8z"/>
			<path class="st1" d="M47.2,331.8c1.2-0.7,2.5-0.4,3.2,0.8c0.7,1.2,0.6,2.3-0.3,2.9c-0.9,0.5-1.8,0.4-2.6,0c0,0.1,0.1,0.3,0.2,0.4
				c0.1,0.1,0.2,0.2,0.3,0.3c1.1,1.3,3.3,1.3,4.6,0.4c2.5-1.6,3.7-2.4,6.2-4c1.5-1,1.4-2,0.5-3.5c0.2-0.1,0.3-0.2,0.5-0.3
				c0.4,0.8,1.4,2.4,2.4,3.9c0.9,1.3,1.9,2.7,2.4,3.3c-0.2,0.1-0.3,0.2-0.5,0.3c-0.8-1.1-1.4-1.2-2.7-0.4c-2.9,2-4.4,3-7.3,5
				c-1.4,1-1.8,1.8-0.9,3.1c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-0.7-1.1-1-1.7c-1-1.4-1.9-2.6-2.9-3.6c0.9-0.6,1.3-0.9,2.2-1.4
				c-1.7,0.2-3.5-0.4-4.5-2.1C45.4,333.8,46.2,332.4,47.2,331.8z"/>
			<path class="st1" d="M48.4,314c1.5-0.7,2.1-1.4,1.5-2.7c0.2-0.1,0.3-0.1,0.5-0.2c0.2,0.6,0.4,1.1,0.6,1.7
				c0.7,1.4,1.3,2.6,2.1,3.6c-0.8,0.4-1.3,0.6-2.1,1c1.7-0.1,3,0.6,3.9,2.2c1.6,3,0.7,6.3-3.9,8.9c-4.4,2.5-8.1,1.2-9.9-2.4
				c-0.7-1.3-0.9-2.5-0.6-3.6c-1.7,0.8-2.5,1.2-4.2,2.1c-1.5,0.7-2,1.6-1.3,3c-0.2,0.1-0.3,0.2-0.5,0.3c-0.3-0.6-0.5-1.3-0.8-1.9
				c-0.8-1.7-1.6-3.1-2.4-4.2C38.1,318.6,41.5,317.1,48.4,314z M50.1,317.8c-3.6,1.7-5.4,2.6-8.9,4.4c-0.3,0.8-0.2,1.7,0.2,2.5
				c1,1.9,3.5,2,7.6-0.2c4.2-2.3,5.2-4,4.4-5.4C52.8,318,51.5,317.4,50.1,317.8z"/>
			<path class="st1" d="M41.7,299.8c0-0.2,0-0.3,0-0.6c2.2,0,4.9,1.1,6,4.1c1.3,3.6,0.2,7-4.5,9c-4.8,2-8.5,0.1-10-4.2
				c-1.3-3.5-0.2-6.2,4-7.5c1,3.2,1.6,4.8,2.8,8c0.4-0.1,0.8-0.3,1.3-0.4c3.6-1.4,4.3-3.8,3.7-5.5C44.7,301.6,43.9,300.4,41.7,299.8
				z M39.6,308.9c-0.7-1.8-1-2.7-1.7-4.5c-2.6,0.9-4.6,2.3-4.1,3.7C34.4,309.5,36.2,310,39.6,308.9z"/>
			<path class="st1" d="M28.1,285.9c0.6-0.8,1.5-1.3,3.4-1.7c3-0.6,4.4-0.9,7.4-1.5c1.5-0.3,1.9-0.9,1.6-2.2c0.2,0,0.3-0.1,0.6-0.1
				c0.1,0.7,0.3,2.4,0.6,3.8c0.3,1.4,0.7,3,0.9,3.6c-0.2,0.1-0.3,0.1-0.6,0.1c-0.3-1.1-0.8-1.4-2.3-1.1c-3.4,0.8-5.1,1.2-8.5,1.9
				c-1.4,0.3-2.2,0.9-1.8,2.4c0.4,1.7,2.1,2.7,3.9,2.2c3-0.8,4.5-1.2,7.5-2c1.5-0.4,1.8-0.9,1.6-2c0.2-0.1,0.3-0.1,0.6-0.1
				c0.1,0.7,0.4,2.1,0.8,3.5c0.4,1.4,1,3,1.2,3.8c-0.2,0.1-0.3,0.1-0.6,0.2c-0.4-1.3-1-1.6-2.5-1.2c-3.4,1-5.1,1.5-8.5,2.5
				c-1.6,0.5-2.2,1.2-1.8,2.6c-0.2,0.1-0.3,0.1-0.6,0.2c-0.1-0.7-0.3-1.3-0.5-1.9c-0.5-1.7-1-3.1-1.6-4.4c1-0.3,1.5-0.4,2.4-0.6
				c-2.1-0.5-3.3-2.2-3.8-4.4C27.4,287.8,27.6,286.6,28.1,285.9z"/>
		</g>
	</g>
	<polygon id="Needle5" style="fill-opacity:0" class="st2" points="202,234 229,231 214,253 102,303 	"/>
	<polygon id="dummy5" style="fill-opacity:0" class="st2" points="223,230 1,231 5,265 13,300 30,340 64,386 123,431 224,241 230,230 	"/>
</g>
</a>

<a xlink:href="#oldworld">
<g id="Natural">
	<g id="text6">
		<g>
			<path class="st0" d="M60.4,191.7c0.9,0.2,1.3,0.3,2.2,0.6c-0.4,1.5-0.6,2.3-0.9,3.8c3.7,0.9,5.6,1.3,9.3,2.2
				c-0.3,1.1-0.4,1.6-0.6,2.7c-3.7-0.8-5.6-1.2-9.3-2.1c-0.3,1.5-0.5,2.3-0.8,3.8c-0.9-0.2-1.3-0.3-2.2-0.4
				C58.8,198,59.3,195.9,60.4,191.7z"/>
			<path class="st0" d="M74.3,186.1c-1.5,0.3-2.3,0.5-3.8,0.9c0,0.1,0,0.2-0.1,0.3c-0.3,1-0.4,1.5-0.7,2.5c1.3,0.4,2,0.6,3.3,0.9
				c-0.3,1.1-0.4,1.6-0.7,2.6c-4.6-1.2-6.9-1.8-11.4-3.1c0.6-2.2,0.9-3.3,1.5-5.4c1-3.2,3-4.6,5.5-3.8c1.7,0.6,2.7,1.8,2.9,3.4
				c1.8-0.5,2.7-0.8,4.5-1.3C74.8,184.4,74.7,184.9,74.3,186.1z M67.5,189.1c0.3-1,0.4-1.5,0.7-2.5c0.4-1.5,0.1-2.5-1.2-2.9
				c-1.3-0.4-2.2,0.3-2.6,1.8c-0.3,1-0.5,1.5-0.8,2.6C65.2,188.4,66,188.7,67.5,189.1z"/>
			<path class="st0" d="M76.5,173c-0.8,2.1-1.2,3.2-2,5.3c0.7,0.7,1.1,1,1.8,1.7c-0.4,1.1-0.6,1.6-0.9,2.7c-3.8-3.5-5.7-5.3-9.3-9.1
				c0.4-1.1,0.6-1.7,1.1-2.8c5.2-0.3,7.8-0.4,13-0.5c-0.5,1.1-0.7,1.6-1.1,2.7C78,173,77.5,173,76.5,173z M74.2,173
				c-2,0-3,0.1-5,0.2c1.4,1.4,2.2,2.1,3.6,3.5C73.4,175.2,73.6,174.5,74.2,173z"/>
			<path class="st0" d="M80.3,156.1c3.1,1.6,4,5,2.4,8.5c-0.9,1.8-1.3,2.7-2.1,4.6c-4.3-1.9-6.5-2.8-10.9-4.7c0.9-2,1.3-3,2.2-5
				C73.7,155.8,77.2,154.5,80.3,156.1z M79,158.6c-2-1-4-0.2-5,1.8c-0.4,0.9-0.6,1.3-1,2.2c2.7,1.2,4,1.8,6.7,3
				c0.4-0.9,0.6-1.4,1-2.3C81.6,161.6,80.9,159.6,79,158.6z"/>
			<path class="st0" d="M77.3,149.1c4.2,2.3,6.2,3.4,10.4,5.7c-0.5,1-0.8,1.4-1.3,2.4c-4.2-2.2-6.3-3.3-10.5-5.5
				C76.4,150.7,76.7,150.1,77.3,149.1z"/>
			<path class="st0" d="M83.6,138.5c0.8,0.5,1.1,0.7,1.9,1.2c-0.8,1.3-1.2,2-2.1,3.3c3.3,2,4.9,3,8.2,5c-0.6,0.9-0.8,1.4-1.4,2.3
				c-3.3-1.9-4.9-2.9-8.2-4.8c-0.8,1.3-1.2,2-1.9,3.3c-0.8-0.4-1.2-0.7-2-1.1C80.1,144,81.2,142.2,83.6,138.5z"/>
			<path class="st0" d="M86,134.8c3.9,2.6,5.9,4,9.8,6.6c-0.6,0.9-0.9,1.4-1.5,2.3c-4-2.6-6-3.9-9.9-6.5
				C85,136.2,85.4,135.8,86,134.8z"/>
			<path class="st0" d="M99.9,125.8c2.7,2.1,2.9,5.9,0.8,8.9c-2.2,3-5.9,3.8-8.7,1.8c-2.8-2-3.3-5.9-0.9-9
				C93.4,124.4,97.3,123.7,99.9,125.8z M93.6,134.2c1.7,1.2,4,0.7,5.2-0.9s1-3.9-0.7-5.2c-1.6-1.3-4-0.9-5.2,0.8
				C91.6,130.6,91.9,133,93.6,134.2z"/>
			<path class="st0" d="M98.2,118.6c3.9,0.1,5.9,0.1,9.8,0.4c-2.3-2-3.4-3.1-5.6-5.1c0.7-0.8,1.1-1.2,1.9-2c3.5,3.2,5.2,4.8,8.7,8.1
				c-0.7,0.7-1,1.1-1.7,1.8c-3.8-0.3-5.8-0.4-9.6-0.5c2.3,2,3.5,2.9,5.8,4.9c-0.7,0.8-1,1.2-1.7,2c-3.7-3-5.5-4.5-9.1-7.5
				C97.2,119.8,97.5,119.4,98.2,118.6z"/>
			<path class="st0" d="M118.8,110.7c-1.7,1.6-2.5,2.4-4.1,4c0.4,0.9,0.6,1.4,1,2.3c-0.8,0.8-1.2,1.2-2,2c-2-4.8-2.9-7.2-4.7-12.2
				c0.9-0.9,1.3-1.3,2.2-2.1c4.9,1.9,7.3,2.9,12,5c-0.9,0.8-1.3,1.2-2.2,2C120.2,111.3,119.7,111.1,118.8,110.7z M116.7,109.8
				c-1.8-0.8-2.8-1.2-4.6-1.9c0.7,1.9,1.1,2.8,1.8,4.7C115,111.4,115.5,110.8,116.7,109.8z"/>
			<path class="st0" d="M118.5,98.1c2.5,2.9,3.7,4.3,6.2,7.2c1.6-1.4,2.4-2.1,4.1-3.4c0.6,0.7,0.9,1.1,1.5,1.8
				c-2.5,2-3.7,3.1-6.1,5.2c-3.2-3.5-4.7-5.3-7.9-8.8C117.2,99.3,117.6,98.9,118.5,98.1z"/>
		</g>
	</g>
	<g id="text6_1_">
		<g>
			<path class="st1" d="M33.9,171.2c6,1.7,8.9,6.8,7.7,12.6c-1.3,5.9-5.6,9.4-11.9,8.4c-6.2-1-9.6-6.3-8.2-12.8
				C22.8,172.8,27.7,169.5,33.9,171.2z M30.4,187.2c5.9,1.1,10-0.6,10.7-3.6c0.7-3.1-2.7-6.1-8.4-7.5c-5.8-1.4-10.1,0.3-10.8,3.6
				C21.1,183.1,24.7,186.1,30.4,187.2z"/>
			<path class="st1" d="M43.2,165.9c1.5,0.5,2.1,0.1,2.5-1.1c0.2,0.1,0.3,0.1,0.6,0.2c-0.3,0.7-0.8,2.2-1.3,3.6
				c-0.4,1.4-0.8,3.1-1,3.8c-0.2-0.1-0.3-0.1-0.6-0.2c0.4-1.3,0.1-1.9-1.4-2.3c-6.1-1.8-9.2-2.7-15.3-4.5c-1.6-0.5-2.5-0.2-2.9,1.3
				c-0.2-0.1-0.3-0.1-0.6-0.2c0.2-0.6,0.4-1.3,0.6-1.9c0.5-1.7,0.9-3.2,1-4.6C32.2,162.4,35.8,163.6,43.2,165.9z"/>
			<path class="st1" d="M48.6,149.7c1.5,0.6,2.4,0.5,3-0.7c0.2,0.1,0.3,0.1,0.5,0.2c-0.3,0.5-0.5,1.1-0.8,1.6c-0.6,1.5-1,2.8-1.2,4
				c-0.9-0.3-1.3-0.5-2.2-0.9c1.3,1.2,1.6,2.6,1,4.4c-1.2,3.2-4.2,4.7-9.2,3c-4.8-1.6-6.3-5.2-4.9-8.9c0.5-1.3,1.2-2.3,2.2-2.8
				c-1.8-0.7-2.6-1-4.4-1.7c-1.6-0.6-2.5-0.4-3,1c-0.2-0.1-0.3-0.1-0.5-0.2c0.3-0.6,0.6-1.2,0.8-1.8c0.6-1.7,1.1-3.1,1.4-4.4
				C38.2,145.4,41.7,146.8,48.6,149.7z M47,153.6c-3.7-1.5-5.6-2.2-9.3-3.6c-0.8,0.3-1.4,0.9-1.7,1.7c-0.7,2,0.9,3.9,5.2,5.5
				c4.5,1.6,6.4,1.2,7-0.4C48.7,155.7,48.2,154.4,47,153.6z"/>
			<path class="st1" d="M51.6,108.6c0.2,0.1,0.3,0.2,0.5,0.3c-0.2,0.9-0.1,2.4,1.3,4.1c4.2,5.3,6.4,7.9,10.8,12.9
				c-0.2,0.3-0.4,0.5-0.5,0.8s-0.3,0.6-0.5,0.9c-5.1-1.1-7.7-1.6-13-2.4c3.5,4,5.2,6,8.9,9.8c-0.2,0.3-0.3,0.6-0.5,0.9
				s-0.3,0.6-0.4,0.9c-7.4-1-11.1-1.3-18.7-1.8c-1.5-0.1-2.2,0.5-2.5,1c-0.2-0.1-0.3-0.1-0.5-0.2c0.6-1.1,1.4-2.8,2.1-4.2
				c0.7-1.5,1.3-2.7,1.7-3.5c0.2,0.1,0.3,0.2,0.5,0.3c-0.3,0.8-0.1,1.2,0.5,1.5c0.3,0.2,0.8,0.3,1.3,0.3c5,0.5,7.5,0.9,12.5,1.6
				c-2.4-2.6-3.5-4-5.8-6.7c-1.8-0.3-2.7-0.4-4.6-0.7c-1.2-0.2-1.8,0.2-2.1,0.8c-0.2-0.1-0.3-0.2-0.5-0.3c0.6-1,1.4-2.5,2.2-3.9
				c0.9-1.6,1.7-3.1,2.2-4c0.2,0.1,0.3,0.2,0.5,0.3c-0.7,1.2-0.9,1.9-0.2,2.4c0.3,0.2,0.7,0.3,1.3,0.4c4.9,0.9,7.3,1.4,12.2,2.4
				c-2.3-2.7-3.5-4.1-5.7-6.9c-0.9-1.1-1.7-1.9-2.4-2.3c-1.4-0.9-2.5-0.4-3.4,1c-0.2-0.1-0.3-0.2-0.5-0.3c0.8-1.2,1.4-2.2,2.2-3.3
				C50.9,109.8,51.3,109.1,51.6,108.6z"/>
			<path class="st1" d="M69.8,104.6c4.4,3.4,4.3,6.9,2,10.2c-2.3,3.3-5.6,4.6-10.3,1.6c-4.6-3-4.7-6.8-2.2-10.4
				C61.8,102.4,65.4,101.2,69.8,104.6z M64,112.7c4.1,2.8,6.5,3,7.4,1.8c0.9-1.3-0.1-3.4-4.2-6.3c-4.1-2.9-6.5-3.2-7.4-1.8
				C58.8,107.7,59.8,109.9,64,112.7z"/>
			<path class="st1" d="M75.4,89.8c1,0.9,1.1,2.2,0.2,3.3c-0.9,1.1-2,1.3-2.8,0.5C72,93,71.8,92.1,72,91.3c-0.1,0.1-0.2,0.1-0.3,0.3
				c-0.1,0.1-0.2,0.2-0.2,0.4c-0.9,1.4-0.2,3.5,1,4.4c2.3,1.9,3.4,2.8,5.7,4.7c1.4,1.1,2.3,0.8,3.5-0.6c0.2,0.2,0.3,0.2,0.4,0.4
				c-0.6,0.7-1.8,2-3,3.4c-1,1.2-2,2.6-2.4,3.3c-0.2-0.1-0.3-0.2-0.5-0.4c0.8-1.1,0.8-1.7-0.5-2.7c-2.8-2.2-4.2-3.3-6.9-5.5
				c-1.3-1-2.2-1.2-3.1,0c-0.2-0.1-0.3-0.2-0.5-0.4c0.4-0.5,0.9-1,1.2-1.4c1.1-1.3,1.9-2.6,2.5-3.7c0.8,0.7,1.2,1,2,1.7
				c-0.7-1.5-0.7-3.4,0.6-4.9C72.9,88.7,74.4,89,75.4,89.8z"/>
			<path class="st1" d="M86.7,91.7c1.1,1.1,1.8,1,2.7,0c0.2,0.2,0.3,0.2,0.4,0.4c-0.5,0.5-1.7,1.6-2.7,2.7c-1,1.1-2.1,2.4-2.6,3
				c-0.2-0.2-0.3-0.2-0.4-0.4c0.9-1,0.9-1.7-0.3-2.7c-4.7-4.3-7.1-6.4-11.9-10.7c-1.3-1.1-2.2-1.3-3.2-0.1c-0.2-0.2-0.3-0.2-0.4-0.4
				c0.5-0.5,0.9-0.9,1.4-1.4c1.2-1.3,2.2-2.5,2.9-3.7C78.3,83.8,81.1,86.4,86.7,91.7z"/>
			<path class="st1" d="M98.7,79.4c1.1,1.2,2,1.5,3,0.6c0.2,0.2,0.2,0.3,0.4,0.4c-0.5,0.4-1,0.7-1.4,1.1c-1.2,1.1-2.2,2.1-2.9,3.1
				c-0.6-0.7-1-1-1.6-1.7c0.6,1.6,0.3,3.1-1,4.4c-2.5,2.4-5.8,2.5-9.7-1.2c-3.6-3.5-3.4-7.4-0.5-10.2c1-1,2.1-1.6,3.2-1.6
				c-1.3-1.4-1.9-2.1-3.2-3.5c-1.1-1.2-2.1-1.5-3.2-0.4c-0.2-0.2-0.2-0.3-0.4-0.4c0.5-0.4,1-0.9,1.5-1.3c1.3-1.2,2.4-2.3,3.2-3.4
				C91.2,70.9,93.7,73.7,98.7,79.4z M95.5,82.1c-2.7-2.9-4.1-4.4-6.8-7.3c-0.9-0.1-1.6,0.2-2.3,0.9c-1.5,1.5-0.9,3.9,2.3,7.2
				c3.3,3.4,5.3,3.8,6.5,2.7C96.1,84.8,96.4,83.4,95.5,82.1z"/>
		</g>
	</g>
	<polygon id="Needle6" style="fill-opacity:0" class="st2" points="229,229 213,207 102,157 201,227 	"/>
	<polygon id="dummy6" style="fill-opacity:0" class="st2" points="227,224 115,31 88,50 64,74 38,107 17,150 7,182 1,230 220,230 230,230 	"/>
</g>
</a>
</svg>

</div>