{% if section.settings.complete_heading != ""  %}
	<h2>{{ section.settings.complete_heading }}</h2>
{% endif %}

{% if section.settings.complete_description != "" %}
	<p>{{ section.settings.complete_description }}</p>
{% endif %}

{% schema %}
  {
    "name": "Completely Personal",
    "settings": [
      {
        "id": "complete_heading",
        "type": "textarea",
        "label": "Completely Personal heading",
        "default": "Add heading here"
      },
	  {
        "id": "complete_description",
        "type": "textarea",
        "label": "Completely Personal description",
        "default": "Add description here"
      }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
