<h2>{{ section.settings.title | escape }}</h2>
<h4>{{ section.settings.subtitle | escape }}</h4>

<ul class="business-logo">
 {% for block in section.blocks %}
  {% if block.settings.image != blank %}
  <li><a href="{{ block.settings.link }}" target="_blank">
     {{ block.settings.image | img_url: 'master', scale: 2 | img_tag: block.settings.image.alt }}
    </a></li>
  {% endif %}
<!--   <li><a href="https://www.chicagobusiness.com/woman/photos-crains-celebrates-chicagos-most-powerful-women" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Crains-Chicago-Sized.png?1216" /></a></li>
  <li><a href="https://www.americaninno.com/chicago/inno-news-chicago/here-are-the-10-women-founded-startups-in-wistems-latest-cohort/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/ChiInno_Logo.png?1216" /></a></li>
  <li><a href="https://www.theguardian.com/global-development/2018/sep/03/poignant-words-of-murdered-mogadishu-florist-mohamed-mahamoud-sheik" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/The-Guardian.png?1216" /></a></li>
  <li><a href="https://creativewomens.co/episode-18-entrepreneurship-is-combining-all-of-your-life-experiences-with-sarah-eva-marchese/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/home-logo-1.png?1216" /></a></li>
  <li><a href="https://blog.1871.com/1871-announces-10-companies-joining-fall-wistem-cohort" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/WiSTEM-1.png?1216" /></a></li>
  <li><a href="https://issuu.com/chicago-woman/docs/chicago_woman_september_october_dig" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/CHICAGO_WOMAN.png?1216" /></a></li>
  <li><a href="https://www.evolveher.community/fr/blog/read/674590917/special-guest-ladyboss-of-the-week-saraheva-marchese" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/EvolveHer-2.png?1216" /></a></li> -->
 {% endfor %}
</ul>

{% schema %}
  {
    "name": "Custom Logo Bar",
    "settings": [
	 {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Logo list"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Heading"
      }
	],
     "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
