<div class="container-fluid old_world_intro">		
        
        <div class="left_logo_category_compass">
       
        </div>
        
      <div class="old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-exotic.png?4236402106574276914" usemap="#MapExotic" border="0"/>	 -->
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
				<img class="commontLeftTitle ExoticLeftimgTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Exotic_Text_Mask_2x_389b737d-cd92-4a99-b97e-7ed70d78f20d.png?8269913133413701648"/>		
			</div>
		</div>
		<div class="col-md-11 no-padding">
			<div class="exotic_banner_section">
				<div class="sub_gallery_img">
					<div class="traditional_style">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Icon_Exotic_White.svg?2920158896774126125" width="45"/>
				<h1><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Exotic_2x_cf2dddf0-bc64-4def-9854-7fc1839c1f77.png?8269913133413701648" width="285"></h1>
				<h4><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Structured_2x_8dfa256e-1718-44f7-b2fc-a74f31f0f149.png?8269913133413701648"><br>
                      <img class="collection_style_line" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Exotic_Line_and_Flourish.svg?5492183152008772804"></h4>
				</div>
				</div>
				<div class="gallery_sub_content">
				<p>{{ section.settings.exotic_short_des }}</p>
                  <div>
				<a href="#" class="link_style1">Create an Exotic Arrangement (Coming Soon)</a> 
				</div>
                  
				<div class="beta_content"> 
				<a href="/collections/exotic">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"> </a>
				</div>
				
				
				</div>
				<div class="link_top_scroll">
				
				<p>Learn more about the Exotic style</p>
                  <a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/scroll-down-arrow.png?17979509584517141833"></a>
				</div>
			</div>
			</div>
		</div>
      </div>    
{% schema %}
  {
    "name": "Exotic style content",
    "settings": [      
      {
        "id": "exotic_short_des",
        "type": "richtext",
        "label": "Exotic Short description",
		"default": "<p>Add your text here</p>"
      }  

    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
