<div class="container-fluid old_world_create">
      <div class="left_logo_category_compass">

        </div>
      
     <div class="Featured_arrangement old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-exotic.png?4236402106574276914" usemap="#MapExotic" border="0"/> -->
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
			<img class="commontLeftTitle ExoticLeftimgTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Exotic_Text_Mask_2x_389b737d-cd92-4a99-b97e-7ed70d78f20d.png?1119999389374086260"/>
		</div>
		</div>
		<div class="col-md-11 no-padding rustic_featured_create_collection">
			<div class="col-md-6 col-md-offset-2 no-padding oldworld_featured">
				<div class="world_arrange">
					<h2>Featured Exotic arrangement</h2>
					{{ section.settings.exotic_desc }}
					<div class="bot_text">
					<p>Pictured arrangement: <a href="#">Arrangement Name</a></p>
					</div>
				</div>
				<div class="popular_flowers">
					<h4>Popular Exotic flowers</h4>
					<ul>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/orchid-2869758-640.png?13948426289172064932"><span>Orchid</span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-1532040-640.png?13948426289172064932"><span>Bird of Paradise</span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/dandelion-1142584-640.png?13948426289172064932"><span>Alstroemeria</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 no-padding">
				<div class="visualizer_sec">
					<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/exotic-01.jpg?7019922982573834535"/>
				</div>
				<div class="small_image">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-large.png?16933084598843728920"/>
				<p>VISUALIZER</p>
				</div>
				<div class="Color_palettes">
				<h6>Color palettes</h6>
                  <ul>
                    <li><ul>
                      <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #f5e94d 0%, #f5e94d 100%);"></a></li>
                      <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #9f14a6 0%, #9f14a6 100%);"></a></li>
                      <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #d13382 0%, #d13382 100%);"></a></li>
                      <li>Classic yellows, purples & pinks</li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #6366b8 0%, #684790 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #674690 0%, #674690 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #faabcf 0%, #faabcf 100%);"></a></li>
                        <li>Trendy blues, purples & pinks</li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #a42767 0%, #a42767 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #ca2b76 0%, #ca2b76 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #f9a7cd 0%, #f9a7cd 100%);"></a></li>
                        <li>Trendy pink or white monotones</li>
                      </ul>
                    </li>
                  </ul>
				</div>
			</div>

			<div class="beta_btns">
				<div>
				<a href="#" class="link_style1">Create an Exotic Arrangement (Coming Soon)</a>
				</div>

				<div class="beta_content"> 
				<a href="/collections/exotic">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"></a> 
				</div>
				
			</div>
		
	    </div>
      </div>	
		</div>     
{% schema %} 
  {
    "name": "Exotic Featured",
    "settings": [
      {
        "id": "exotic_desc",
        "type": "textarea",
        "label": "Exotic Featured description",
        "default": "<p>Add your text here</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
