<div class="container-fluid old_world_intro">		
        <div class="left_logo_category_compass">
        
        </div>
        
      <div class="old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Compass_270_Garden.svg?392143218239433044"/>	 -->
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
				<img class="commontLeftTitle GardenLeftimgTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Garden_Text_Mask_2x_fec99282-f91f-4171-9b17-cf9c2bdcb374.png?1119999389374086260"/>		
			</div>
		</div>
		<div class="col-md-11 no-padding">
			<div class="garden_banner_section">
				<div class="sub_gallery_img">
                  <div class="traditional_style">
                    <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Icon_Garden_White_5a147338-404f-4106-ab10-fac5187e93a5.svg?8236386941483921239" width="45"/>
                    <h1><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/garden_2x_6e832016-6c8a-4afb-9fec-baaa66f037f8.png?1119999389374086260" width="285"></h1>
                    <h4><img style="max-width:216px;margin-bottom:20px !important;" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/romantic_2x_a002d2e2-c417-432b-90b4-35398441f869.png?1119999389374086260"><br>
                    <img class="collection_style_line" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Garden_Line_Flourishes.svg?5492183152008772804"></h4>
                  </div>
				</div>
				<div class="gallery_sub_content">
				<p>{{ section.settings.garden_short_des }}</p>
                  <div>
				<a href="#" class="link_style1">Create an Garden Arrangement (Coming Soon)</a> 
				</div>
                  
				<div class="beta_content"> 
				<a href="/collections/garden">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"> </a>
				</div>
				
				
				</div>
				<div class="link_top_scroll">
				
				<p>Learn more about the Garden style</p>
                  <a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/scroll-down-arrow.png?17979509584517141833"></a>
				</div>
			</div>
			</div>
		</div>
      </div>    
{% schema %}
  {
    "name": "Garden style content",
    "settings": [      
      {
        "id": "garden_short_des",
        "type": "richtext",
        "label": "Garden Short description",
		"default": "<p>Add your text here</p>"
      }  

    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
