<div class="container-fluid old_world_create">
      <div class="left_logo_category_compass">
		
        </div>
      
     <div class="Featured_arrangement old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Compass_270_Garden.svg?392143218239433044"/>	 -->
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
			<img class="commontLeftTitle GardenLeftimgTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Garden_Text_Mask_2x_fec99282-f91f-4171-9b17-cf9c2bdcb374.png?1119999389374086260"/>
		</div>
		</div>
		<div class="col-md-11 no-padding rustic_featured_create_collection">
			<div class="col-md-6 col-md-offset-2 no-padding oldworld_featured">
				<div class="world_arrange">
					<h2>Featured Garden arrangement</h2>
					<p>{{ section.settings.garden_desc }}</p>
					<div class="bot_text">
					<p>Pictured arrangement: <a href="#">Arrangement Name</a></p>
					</div>
				</div>
				<div class="popular_flowers">
					<h4>Popular Garden flowers</h4>
					<ul>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flowers-3298888-640.png?14876893374270080587"><span>Peony</span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/tulip-3372258-640.png?14876893374270080587"><span>Rose</span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/sweet-william-2693986-640.png?14876893374270080587"><span>Lilac</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 no-padding">
				<div class="visualizer_sec">
					<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/garden-01.jpg?7019922982573834535"/>
				</div>
				<div class="small_image">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-large.png?16933084598843728920"/>
				<p>VISUALIZER</p>
				</div>
				<div class="Color_palettes">
				<h6>Color palettes</h6>
                  <ul>
                    <li><ul>
                      <li><a href="#" class="white-clr"></a></li>
                      <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #e2b9cc 0%, #e2b9cc 100%);"></a></li>
                      <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #b62323 0%, #b62323 100%);"></a></li>
                      <li>Classic pinks, reds & whites</li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#" class="white-clr"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #c49cbe 0%, #c49cbe 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #852b4f 0%, #852b4f 100%);"></a></li>
                        <li>Trendy pinks, burgundies & whites</li>
                      </ul>
                    </li>
                    <li>
                      <ul>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #f9d7ce 0%, #f9d7ce 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #ff9571 0%, #ff9571 100%);"></a></li>
                        <li><a href="#" class="circleClr" style="background-image: linear-gradient(180deg, #fab0d3 0%, #fab0d3 100%);"></a></li>
                        <li>Trendy pinks, oranges & peaches</li>
                      </ul>
                    </li>
                  </ul>
				</div>
			</div>

			<div class="beta_btns">
				<div>
				<a href="#" class="link_style1">Create an Garden Arrangement (Coming Soon)</a>
				</div>

				<div class="beta_content"> 
				<a href="/collections/garden">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"></a> 
				</div>
				
			</div>
		
	    </div>
      </div>	
		</div>     
{% schema %}
  {
    "name": "Garden Featured",
    "settings": [
      {
        "id": "garden_desc",
        "type": "textarea",
        "label": "Garden Featured description",
        "default": "<p>Add your text here</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
