<div class="container-fluid old_world_create">
      
      <div class="left_logo_category_compass">
            
<!--         <img style="display: none" id="base_image_wcreate" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-oldwd-selected_5ad4784b-cf14-47e7-88ba-8de1c8283ee8.png?4236402106574276914" usemap="#MapOldWorld" border="0">
<img style="display: none" id="arrow_image_wcreate" src="small3.svg">
<canvas id="compass_wcreate" width="272" height="272" style="cursor: pointer;display:none;"></canvas>
<img id="base_image_static_wcreate"  src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-oldwd-selected_5ad4784b-cf14-47e7-88ba-8de1c8283ee8.png?4236402106574276914" usemap="#MapOldWorld" border="0">
  -->
        
        </div>
      
      
     <div class="Featured_arrangement old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-oldwd-selected_5ad4784b-cf14-47e7-88ba-8de1c8283ee8.png?4236402106574276914" usemap="#MapOldWorld" border="0"/> -->
       
       
       
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
			<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/old-world-title-1x.png?954669405795366805"/>
		
		</div>
		</div>
		<div class="col-md-11 no-padding rustic_featured_create_collection">
			<div class="col-md-6 col-md-offset-2 no-padding oldworld_featured">
				<div class="world_arrange">
					<h2>Featured old world arrangement</h2>
					{{ section.settings.oldworld_desc }}
					<div class="bot_text">
					<p>Pictured arrangement: <a href="#">arrangement name</a></p>
					</div>
				</div>
				<div class="popular_flowers">
					<h4>Popular old world flowers</h4>
					<ul>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/popular_flower_1.png?15606854177374528987"><span>Parrot tulip</span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/popular_flower_2.png?15606854177374528987"><span>Dahlia </span></a></li>
                      <li><a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/popular_flower_3.png?15606854177374528987"><span>Gardenia</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 no-padding">
				<div class="visualizer_sec">
					<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/oldworld-01.jpg?7019922982573834535"/>
				</div>
				<div class="small_image">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/flower-large.png?16933084598843728920"/>
				<p>VISUALIZER</p>
				</div>
				<div class="Color_palettes">
				<h6>Color palettes</h6>
				<ul>
					<li><ul>
						<li><a href="#" class="white-clr"></a></li>
						<li><a href="#" class="green-clr"></a></li>
						<li></li>
						<li>Classic white</li>
					</ul>
					</li>
					<li>
					<ul>
						<li><a href="#" class="pink-clr"></a></li>
						<li><a href="#" class="brown-clr"></a></li>
						<li><a href="#" class="drak-clr"></a></li>
						<li>Trendy pinks, corals & burgundies</li>
					</ul>
					</li>
					<li>
					<ul>
						<li><a href="#" class="drk_pink-clr"></a></li>
						<li><a href="#" class="red-clr"></a></li>
						<li><a href="#" class="drak-red-clr"></a></li>
						<li>Trendy pinks, oranges & reds</li>
					</ul>
					</li>
				</ul>
				</div>
			</div>
			<div class="beta_btns">
				<div class="beta_content"> 
				<a href="http://admin.floracracy.com/?id=null&name=null&email=null&dl=OW">CREATE AN OLD WORLD ARRANGEMENT (BETA)</a> 
				</div>
				<div class="link_made">
				<a href="/collections/old-world">shop already made arrangements</a>
				</div>
			</div>
		
	    </div>
      </div>	
		</div>
{% schema %}
  {
    "name": "Old World Featured",
    "settings": [
      {
        "id": "oldworld_desc",
        "type": "textarea",
        "label": "Old World Featured description",
        "default": "<p>Add your text here</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
