<div class="container-fluid old_world_intro">
		<!-- Style section 1       -->
        <div class="left_logo_category_compass">
             

        </div>
        
      <div class="old_world">
<!-- 	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-rustic.png?4236402106574276914" usemap="#MapRustic" border="0"/>	 -->

        <div class="col-md-1 no-padding">
			<div class="side_cnt">
				<img class="commontLeftTitle old_worldLeftTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Rustic_Text_Mask_2x_ea1ee3cf-e703-4b78-b8d1-5a2adeae44e6.png?10265087302121557893"/>		
			</div>
		</div>
		<div class="col-md-11 no-padding">
			<div class="rustic_banner_section">
				<div class="sub_gallery_img">
					<div class="traditional_style">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Icon_Rustic_White.svg?15279935865730901628" width="45"/>
				<h1><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/rustic_2x_264da17f-e803-4676-b142-2ce644323c9a.png?10265087302121557893" width="285"></h1>
				<h4><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/natural_style_2x_ca871f4b-8b2b-4459-9f06-08114f64e328.png?15279935865730901628"><br>
                      <img class="collection_style_line" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Rustic_Line.svg?5492183152008772804"></h4>
				</div>
				</div>
				<div class="gallery_sub_content">
				<p>{{ section.settings.rustic_short_des }}</p>
                  <div>
				<a href="#" class="link_style1">Create a Rustic Arrangement (Coming Soon)</a> 
				</div>
                  
				<div class="beta_content"> 
				<a href="/collections/rustic">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"> </a>
				</div>
				
				
				</div>
				<div class="link_top_scroll">
				
				<p>Learn more about the old world style</p>
                  <a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/scroll-down-arrow.png?17979509584517141833"></a>
				</div>
			</div>
			</div>
		</div>
		
      
      </div>
{% schema %}
  {
    "name": "Rustic style content",
    "settings": [      
      {
        "id": "rustic_short_des",
        "type": "richtext",
        "label": "Rustic Short description",
		"default": "<p>Add your text here</p>"
      }  

    ]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
