<div class="container-fluid old_world_intro">
		<!-- Style section 1       -->
        <div class="left_logo_category_compass">
             
        
        </div>
        
        
      <div class="old_world">
<!-- 		<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/compass-270-whimsical.png?4236402106574276914" usemap="#MapWhimsical" border="0"/> -->
		<div class="col-md-1 no-padding">
			<div class="side_cnt">
				<img class="commontLeftTitle WhimsicalLeftimgTitle" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Whimsical_Text_Mask_2x_d4731088-16ce-42bf-8fde-9e20f89134d5.png?16621917102792002128"/>		
			</div>
		</div>
		<div class="col-md-11 no-padding">
			<div class="Whimsical_banner_section">
				<div class="sub_gallery_img">
					<div class="traditional_style">
				<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Icon_Whimsical_White.svg?14070028804716725977" width="45"/>
				<h1><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Whimsical_2x_dadb7e3c-e38a-4f03-923b-2cdeb2df1a67.png?16621917102792002128" width="285"></h1>
				<h4><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Playful_2x_1d5fb228-dece-4be7-8718-43fa4e034f55.png?16621917102792002128"><br>
                      
<img class="collection_style_line" src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Whimsical_Line_Flourish.svg?5492183152008772804"></h4>
				</div>
				</div>
				<div class="gallery_sub_content">
				<p>{{ section.settings.whimsical_short_des }}</p>
                  <div>
				<a href="#" class="link_style1">Create a Whimsical Arrangement (Coming Soon)</a> 
				</div>
                  
				<div class="beta_content"> 
				<a href="/collections/whimsical">SHOP ALREADY-MADE ARRANGEMENTS &nbsp; <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/solid-arrow.png?15546413528467051881"> </a>
				</div>
				
				
				</div>
				<div class="link_top_scroll">
				
				<p>Learn more about the Whimsical style</p>
                  <a href="#"><img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/scroll-down-arrow.png?17979509584517141833"></a>
				</div>
			</div>
			</div>
		</div>
		
      
      </div>
{% schema %}
  {
   "name": "Whimsical style content",
    "settings": [      
      {
        "id": "whimsical_short_des",
        "type": "richtext",
        "label": "Whimsical Short description",
		"default": "<p>Add your text here</p>"
      }  

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
