{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}
<div class="top_stories">
<div class="page-width">
  <div class="grid top_header">
    <div class="grid__item">
      <div class="section-header text-center">
        <div class="top_head_bg">
        	<h1>{{ page.title }}</h1>
        </div>
      </div>
      <div class="blog_content">
        <div class="story_list">
        	<div class="story_block">
              <div class="col-md-6 col-sm-6 story_content">
                <span class="shead"><b>Wedding</b>15 hours ago</span>
                <h3>12 National Parks You’ll Want To Roadtrip To This Summer</h3>
                <p>Cras ac condimentum urna, id volutpat magna. Aliquam in nulla fringilla, suscipit quam a, fringilla elit. Morbi feugiat dictum dui, vitae feugiat enim consequat eget. Aliquam ut orci bibendum, porttitor lorem quis, porta nulla. Ut sit amet faucibus odio, a congue ipsum. Suspendisse volutpat, felis sit amet molestie auctor, quam ligula porta neque, et commodo neque nulla non erat.</p>
              </div>
              <div class="col-md-6 col-sm-6 story_picture pr-0">
              	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/story1.png?12169" alt=""/>      
              </div>
          	</div>
          	<div class="story_block">
              <div class="col-md-6 col-sm-6 story_content">
                <span class="shead"><b>Wedding</b>15 hours ago</span>
                <h3>12 National Parks You’ll Want To Roadtrip To This Summer</h3>
                <p>Cras ac condimentum urna, id volutpat magna. Aliquam in nulla fringilla, suscipit quam a, fringilla elit. Morbi feugiat dictum dui, vitae feugiat enim consequat eget. Aliquam ut orci bibendum, porttitor lorem quis, porta nulla. Ut sit amet faucibus odio, a congue ipsum. Suspendisse volutpat, felis sit amet molestie auctor, quam ligula porta neque, et commodo neque nulla non erat.</p>
              </div>
              <div class="col-md-6 col-sm-6 story_picture pr-0">
              	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/story2.png?12234" alt=""/>      
              </div>
          	</div>
          <div class="story_block">
              <div class="col-md-6 col-sm-6 story_content">
                <span class="shead"><b>Wedding</b>15 hours ago</span>
                <h3>12 National Parks You’ll Want To Roadtrip To This Summer</h3>
                <p>Cras ac condimentum urna, id volutpat magna. Aliquam in nulla fringilla, suscipit quam a, fringilla elit. Morbi feugiat dictum dui, vitae feugiat enim consequat eget. Aliquam ut orci bibendum, porttitor lorem quis, porta nulla. Ut sit amet faucibus odio, a congue ipsum. Suspendisse volutpat, felis sit amet molestie auctor, quam ligula porta neque, et commodo neque nulla non erat.</p>
              </div>
              <div class="col-md-6 col-sm-6 story_picture pr-0">
              	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/story1.png?12169" alt=""/>      
              </div>
          	</div>
          <div class="story_block">
              <div class="col-md-6 col-sm-6 story_content">
                <span class="shead"><b>Wedding</b>15 hours ago</span>
                <h3>12 National Parks You’ll Want To Roadtrip To This Summer</h3>
                <p>Cras ac condimentum urna, id volutpat magna. Aliquam in nulla fringilla, suscipit quam a, fringilla elit. Morbi feugiat dictum dui, vitae feugiat enim consequat eget. Aliquam ut orci bibendum, porttitor lorem quis, porta nulla. Ut sit amet faucibus odio, a congue ipsum. Suspendisse volutpat, felis sit amet molestie auctor, quam ligula porta neque, et commodo neque nulla non erat.</p>
              </div>
              <div class="col-md-6 col-sm-6 story_picture pr-0">
              	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/story1.png?12169" alt=""/>      
              </div>
          	</div>
          <div class="story_block">
              <div class="col-md-6 col-sm-6 story_content">
                <span class="shead"><b>Wedding</b>15 hours ago</span>
                <h3>12 National Parks You’ll Want To Roadtrip To This Summer</h3>
                <p>Cras ac condimentum urna, id volutpat magna. Aliquam in nulla fringilla, suscipit quam a, fringilla elit. Morbi feugiat dictum dui, vitae feugiat enim consequat eget. Aliquam ut orci bibendum, porttitor lorem quis, porta nulla. Ut sit amet faucibus odio, a congue ipsum. Suspendisse volutpat, felis sit amet molestie auctor, quam ligula porta neque, et commodo neque nulla non erat.</p>
              </div>
              <div class="col-md-6 col-sm-6 story_picture pr-0">
              	<img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/story5.png?12169" alt=""/>      
              </div>
          	</div>
        </div>
      </div>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
</div>