<div class="press-data">
  <div class="press-first">
    <div class="page-width container">
      <div class="section-header text-center">
        <h2>Floracracy wants to meet you</h2>
        <h3>We’re available by phone and chat every day, 9 am – 6 pm CST</h3>
      </div>
      <ul class="list-icons">
        <li><a href="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Presskit.Floracracy.December.2018.pdf?1190" target="_blank" rel="noopener"><i class="fa fa-download" aria-hidden="true"></i> Press Kit</a></li>
        <li><a href="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/Floracracy-Media-Assets-December-2018.zip" target="_blank" rel="noopener"><i class="fa fa-download" aria-hidden="true"></i> Asset Kit</a></li>
        <li class="hide"><a href="#"><i class="fa fa-commenting" aria-hidden="true"></i> Chat Us</a></li>
        <li><a href="mailto:info@floracracy.com" target="_blank" rel="noopener"><i class="fa fa-envelope" aria-hidden="true"></i> info@floracracy.com</a></li>
        <li class=""><a href="tel:815-324-3331" target="_blank" rel="noopener"><i class="fa fa-phone" aria-hidden="true"></i> 815.324.3331</a></li>
      </ul>
    </div>
  </div>

  <div class="press-second">
    <div class="page-width container">
       {% section 'custom-logo' %}
    </div>
  </div>
  <div class="press_list_block">
    <div class="container">
      {% section 'press-data' %}
    </div>
  </div>
</div>
