<div class="back_img">
  <div class="page-width container">
    <div class="about_sow">
      <div class="sow-image-container">
        <img src="https://floracracy.com/wp-content/uploads/2018/05/Circle-about.png" width="411" height="411" class="so-widget-image">
      </div> 
    </div>
  </div>
</div>

<div class="page-width container">
  <div class="abt-first">
  <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
    <h6>HERE AT FLORACRACY WE WORK</h6>
    <h3>to do big things every day. <strong>It’s what we do.</strong></h3>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <p> Each human is unique, with a vision and tastes and a style of his or her own. Our mission is to help that person, no matter how little they know about flowers, articulate that uniqueness.</p>

      <p>And there’s nothing bigger than helping people do something big themselves. Because, let’s face it, weddings, funerals, thank yous, I’m sorry’s, I love you’s . . . the moments we give flowers are big. The flowers we give should be too.</p>

      <p> Floracracy is dedicated to creating an experience that lives up to the big moments in our lives. That doesn’t stop at the flowers themselves. It includes how they are designed, ordered, sent, delivered and the impact they make on the world.</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
      <p>We designed Floracracy Studio, our software platform, in pursuit of that mission. In letting you design your flowers, you infuse them with your style, your meaning, and your story. Best of all, we made it so the experience is accessible and enjoyable for everyone. If your base level of flower or design knowledge is zero, but you want to create something amazing, Floracracy Studio will work for you.</p>

      <p> But the design is just the beginning. Our master florists put together every arrangement you buy in house. We enhance the delivery experience with our unique gated box and loyalty perks. Inside we include special surprises and there are always more amazing perks coming.</p>
    </div>
  </div>
  </div>
</div>