<div class="back_img">
  <div class="page-width container">
    <div class="about_sow">
      <div class="sow-image-container">
<!--         <img src="https://floracracy.com/wp-content/uploads/2018/05/Circle-about.png" width="411" height="411" srcset="https://floracracy.com/wp-content/uploads/2018/05/Circle-about.png 411w, https://floracracy.com/wp-content/uploads/2018/05/Circle-about-150x150.png 150w, https://floracracy.com/wp-content/uploads/2018/05/Circle-about-300x300.png 300w" sizes="(max-width: 411px) 100vw, 411px" class="so-widget-image"> -->
        <img src="https://floracracy.com/wp-content/uploads/2018/05/Circle-about.png" width="411" height="411" class="so-widget-image">
      </div> 
    </div>
  </div>
</div>

<div class="abt-content">
  <div class="abt-first">
    <div class="page-width container">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <h6>HERE AT FLORACRACY WE WORK</h6>
        <h3>to do big things every day. <strong>It’s what we do.</strong></h3>
        <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
          <p> Each human is unique, with a vision and tastes and a style of his or her own. Our mission is to help that person, no matter how little they know about flowers, articulate that uniqueness.</p>
          <p>And there’s nothing bigger than helping people do something big themselves. Because, let’s face it, weddings, funerals, thank yous, I’m sorry’s, I love you’s . . . the moments we give flowers are big. The flowers we give should be too.</p>
          <p> Floracracy is dedicated to creating an experience that lives up to the big moments in our lives. That doesn’t stop at the flowers themselves. It includes how they are designed, ordered, sent, delivered and the impact they make on the world.</p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 no-padding abt-first-right">
          <p>We designed Floracracy Studio, our software platform, in pursuit of that mission. In letting you design your flowers, you infuse them with your style, your meaning, and your story. Best of all, we made it so the experience is accessible and enjoyable for everyone. If your base level of flower or design knowledge is zero, but you want to create something amazing, Floracracy Studio will work for you.</p>
          <p> But the design is just the beginning. Our master florists put together every arrangement you buy in house. We enhance the delivery experience with our unique gated box and loyalty perks. Inside we include special surprises and there are always more amazing perks coming.</p>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 no-padding"> 
          <p>Sound a little magic? A little crazy? A little impossible? We know.</p>
          <p><strong>That’s the power of Floracracy.</strong></p>
        </div>

      </div>
    </div>
  </div>

  <div class="abt-second">
    <div class="page-width container">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <h3 class="hide_tablet"><strong>Meet the Founder</strong></h3>
        <div class="col-md-6 col-sm-6 col-xs-12 no-padding float-right founder_img">
          <div class="sow-image-containerr">
            <img src="https://cdn.shopify.com/s/files/1/0011/5104/1588/files/sarah-eva.jpg">
          </div>
          <h3 class="hide_desktop"><strong>Meet the Founder</strong></h3>
          <p> To develop early prototypes, she cut deals trading marketing, sales, and relationship building skills with developers in San Diego who coded various web-based prototypes and solutions.</p>
          <p> Most importantly, Sarah-Eva relentlessly used her passion to bring flowers and people together to build relationships with talented professionals who could help Floracracy get where it needed to go. When it ultimately became clear that her vision, and what the industry needed, was bigger than what she could do herself, she parlayed that passion into what may have been the first investment round in a female-owned online flower company.</p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 no-padding founder_text">
          <p> Sarah-Eva never thought she’d be in the world of flowers. She went to the University of St. Andrews in Scotland to study terrorism and conflict prevention. Authoring her own peacebuilding theory garnered her high honors and short listed her for the Gates Cambridge Scholarship. But the real dream come true was her acceptance to two PhD programs at Cambridge.</p>
          <p>But Sarah-Eva got cold feet. She didn’t enroll in either program.</p>
          <p>For having missed one opportunity of a lifetime, she resolved, should she be lucky enough to find another, never to let fear stop her.</p>
          <p>In 2011, Sarah-Eva ran head-first into the strange world of flowers—a $105 billion global industry of self-contradiction. On one hand, research showed flowers had the power to solve disputes, bring people together, calm, persuade, and even heal—they were peacebuilders. On the other hand, the floral industry was rife with consumer dissatisfaction based on poor customer service and antiquated technology. She became obsessed with this opportunity to reunite flowers with the people who had given up on them, to share with them the healing and personal role flowers had played in her own life..</p>
          <p>There was only one problem. Sarah-Eva lacked programming skills, industry contacts, or even basic knowledge of flowers or design. In fact, you could say there were many problems.</p>
          <p>But this time, Sarah-Eva determined not to be deterred by her limitations. She spent six years relentlessly identifying what the industry needed, conducting research and building and testing prototypes. She gave herself a crash course in floral botany by creating a database of flower characteristics organized based on how consumers want flowers.</p>
        </div>
        
      </div>
    </div>
  </div>

  <div class="abt-third">
    <div class="page-width container">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
        <h2>Flowers Can Do Big Things</h2>
        <div class="col-md-6 col-sm-6 col-xs-12 no-padding abt-third-center">
          <p>Flowers heal. They persuade. They pacify. They deconflict. And flowers, their fruit and the plants that produce them can provide food, jobs and futures. Everyone deserves the bigness of flowers in their lives.</p>
          <p>That’s why, for every arrangement sold, Floracracy gives flowers to a person or community in need.</p>
        </div>
      </div>
    </div>
  </div>
  
 <div class="abt-forth">
  <div class="abt-customer-review">
    <div class="abt-review-content">
      <p>The team is doing amazing things with Floracracy and injecting spirit and emotion into an industry that has largely forgotten about those things. This is the first company in this space that I was excited about and felt had the potential for me to invest in. I’m honored to be a part of it.</p>
       <h5><strong>- John Higginson</strong></h5>
      <span>Former CTO of FTD</span>
    </div>
  </div>
  </div>
</div>

